/*Commonly used*/
*{
    box-sizing: border-box;
    font-family: Georgia, 'Nanum Gothic',serif;
}
a:link{
    text-decoration: none;
    color : black;
}
a:visited{
    text-decoration: none;
    color : black;
}

/*HEADER*/

.wrapper{
    width : 1300px;
    margin : 0 auto;
}
header{
    width : 100%;
    height : 100px;
    margin : 0 auto;
    background-color: #F7A12A;
}

#logo{
    width : 100px;
    height : 100px;
    float : left;
}

.topMenu{
    padding : 0;
    margin : 0;
    float : right;
    line-height: 100px;
}

.topMenu a {
    padding : 0 15px;
}

.dept01>li{
    list-style-type: none;
    float : left;
}

.topMenu li ul{
    display: none;
    padding : 0 5px;
    margin : 0;
    position : absolute;
    line-height: 40px;
    /*border-right: 2px solid #F7A12A;
    border-left: 2px solid #F7A12A;*/
    border-bottom: 2px solid #F7A12A;
    text-align: left;
}

#border1{
    border-left: 2px solid #F7A12A;
}

#border2{
    border-right: 2px solid #F7A12A;
}


/*Article*/
article{
    width : 1300px;
    margin : 0 auto;
}
.main_banner{
    margin : 0 auto;
    width : 1300px;
    height: 700px;

}

.content{
    margin : 0 auto;
    
}

.post{
    float : left;
    width : 400px;
    height : 300px;
    margin-right: 50px;
}

.photo{
    float : left;
    width : 400px;
    height: 300px;
 
}

.meal{
    float : left;
    width : 400px;
    height: 300px;
    margin-right: 50px;
}


/*Footer*/
footer{
    width : 1300px;
    margin : 0 auto;
}

.left_footer{
    float : left;
    width : 700px;
    height : 150px;

}

.right_footer{
    float : left;
    width : 600px;
    height : 150px;
}

/* ------------------------------------------------------------------------------------ */

/*Centorintro.html - css*/

.container{
    width : 1600px;
    height : 700px;
    float : left;
    
}

aside{
    float : left;
    width : 310px;
    height: 100%;
    background-color: blanchedalmond;
}

.con_list{
    text-align: center;
    line-height: 40px;
    padding : 80px;
}

#main_list{
    font-size: 2em;
}

.centerArticle{
    float : left;
    width : 1290px;
    height : 700px; 
}

.centerBanner{
    float : left;
    width : 100%;
    height: 80px;
}

.sector{
    float : left;
    width : 100%;
    height : 620px;
}


/* -------------------------------------------------------------------------------------- */
