.horizonlist{
    display:flex;
    justify-content: center;
}

.horizonlist>li{
    float:left;
    padding : 20px;
    font-size: 0.9em;
    border : 1px solid #bbb;
    letter-spacing: 0.1em;
}

.horizonlist>li>a{
    cursor: default;
    display: inline-block;
}