*{padding:0px;margin : 0px;}

#wrapper{width : 1300px; margin : 0 auto;}
header { width : 100%; height : 100px; background-color: #81d4fa;}
aside{float : left; width : 30%;height:600px; background-color: #4fc3f7;}
.content1{float : left ;width :70%; height : 200px; background-color: #29b6f6;}
.content2{float : left ;width :70%; height : 200px; background-color: #03a9f4;}
.content3{float : left ;width :70%; height : 200px; background-color: black;}
footer{clear:both;width:100%;height : 100px; background-color: #0288d1;}

@media (min-width: 768px) and(max-width: 1220px){
    #wrapper{width : 100%;}
    .content1{height:300px;}
    .content2{height:300px;}
    .content3{width : 100%;}
}