/*All pages used*/
*{
    box-sizing: border-box;
    font-family: Georgia, 'Nanum Gothic',serif;
}

a:link{
    text-decoration: none;
    color : black;
}

a:visited{
    text-decoration: none;
    color : black;
}

/*******Index page ( Daycare.html )*******/
.wrap{
    position: relative;
    width : 100%;
}

.carousel-box{
    z-index: 9;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: scale(0.95);
    position:  absolute;
}

.active{
    opacity: 1;
    z-index: 9;
    transform: none;
}

.contents-image{
    width:100%;
    height:700px;
}
/****HEADER, Commonly used****/
.wrapper{
    width : 65vw;
    margin : 0 auto;
}

header{
    width : 100%;
    height : 110px;
    margin : 0 auto;
    background-color: white;
    border-bottom: 3px solid #C2DCDD;
}

#logo{
    width : 100px;
    height : 100px;
    float : left;
}

.topMenu{
    padding : 0;
    margin : 0;
    float : right;
    line-height: 110px;
    width:830px;
    z-index: 1;
}

.topMenu li{
    text-align: center;
}

.dept01>li{
    list-style-type: none;
    float : left;
}

.topMenu ul li ul{
    display: none;
    padding : 0;
    margin : 0;
    position :absolute;
    line-height: 40px;
    border-bottom: 2px solid #C2DCDD;
    text-align: left;
    font-size:16px;
    width:100%;
}

.topMenu>ul>li>ul{
    z-index: 11;
}

.topMenu ul li ul li{
    line-height:40px;
    text-align: center;
}

#border1{
    border-left: 2px solid #C2DCDD;
    background-color:white;
    width:124px;
    padding-bottom : 80px;
}

#border2{
    background-color : white;
    width:225.63px;
}

#border3{
    padding-bottom: 160px;
    background-color : white;
    width:124px;
}

#border4{
    padding-bottom: 200px;
    background-color : white;
    width:193.63px;
}

#border5{
    padding-bottom: 200px;
    background-color : white;
    width:151.25px;
    border-right: 2px solid #C2DCDD;
}

.dept01{
    width:100%;
}

.dept01 ul li {
    width:100%;
}

/* Pages introduce header */
#pPost{
    float : left;
    margin-top :0.83em;
    margin-left : 10%;
}

#pNav{
    float : right;
    margin-top : 2.83em;
    margin-right : 10%;
    color:#C2DCDD;
}

#asideNav{
    color : #C2DCDD;
}

/***** Index page Article *****/
.indexArticle{
    width : 90%;
    height : 700px;
    margin : 0 auto;
}

.main_banner{
    margin : 0 auto;
    float : left;
    width : 50%;
    height: 700px;
    display: block;
}

.content{
    margin : 0 auto;
}

.post{
    float : left;
    width : 25%;
    height : 350px;
    border-right : 1px solid black;
}

#iPost{
    margin : -5px 15px;
    float : left;
}

#iPost_more{
    margin : 15px 15px;
    float : right;
}

article div a:visited{
    color : #aaaaaa;
    font-weight: bold;
}

.photo{
    float : left;
    width : 50%;
    height: 350px;
    border-top : 1px solid black;
}

.meal{
    float : left;
    width : 25%;
    height: 350px;
}

.post, .photo, .meal{
    background-color: #eeeeee;
}

.postlist, .meallist{
    margin : 60px 10px 10px 30px;
    list-style-type: circle;
}

.postlist li,
.meallist li{
    margin : 7px 0;
}

.photozone{
    width : 100%;
    height : 300px;
    margin-top : 50px;
}

.photo1, .photo4{
    margin-left : 15px;
}

.photo1, .photo2, .photo3{
    margin-bottom : 10px;
}

.photo1, .photo2,
.photo3, .photo4,
.photo5, .photo6{
    width : 30%;
    height : 120px;
    margin-right : 15px;
    margin-top : 15px;
    border : 1px solid black;
    float : left;
}

/*Footer*/
footer{
    float:left;
    width : 55vw;
    margin-left:22.5vw;
    /*margin : 0 auto;*/
    background-color: #cecece;
}

.left_footer{ /* custom page footer */
    float : left;
    width : 100%;
    height : 170px;
    position: relative;
    line-height: 2em;
}

.index_footer{ /*index page footer*/
    width : 80%;
    float: left;
    margin-top : 30px;
    margin-left: 10vw;
    background-color: #cecece;
}

footer a:hover{
    text-decoration: underline;
}

#first_line_footer{
    font-size : 1.2em;
}

.footer_information{
    font-size : 0.75em;
}

.information_box{
    padding-top : 20px;
}

#footer_logo{
    width : 170px;
    height : 170px;
    float : left;
    border : 1px solid #ccc;
}

/* Custompages - css*/

/* Almost pages container ~ article size */
.container{ /*All pages div container*/
    margin : 0 auto;
    float : left;
    width : 70%;
    margin-left : 7vw;
}

.introbanner{
    width : 56vw;
    height : 15vw;
    float: left;
}

.introbanner_img{
    width: 100%;
    height: 100%;
}

/* aside */
aside{ /*Commonly used aside (nav aside)*/
    float : left;
    width : 15%;
    height : 500px;
    text-align: center;
    margin-top: 60px;
    /*margin-right : 50px;*/
}


aside li{
    padding : 10px 0;
    margin : 10px 0 10px 0;
    font-size: 1em;
    border : 1px solid #C2DCDD;
}

aside li ul li{
    padding: 0px 0;
    background-color: white;
    border-bottom: 1px solid white;
    height : 50px;
    line-height: 50px;
}

.navHead{
    text-align: center;
    width : 100%;
    font-size : 1.5em;
    background-color: #c2dcdd;
    height : 50px;
    line-height: 50px;
    color : black;
    position: fixed;
    width:20%;
}

.testdiv{
    position: fixed;
    width:20%;
    margin-top:50px;
}

/*right aside*/
.rightAside{
    position : fixed;
    left : 79vw;
    margin-top : 60px;
}

/*end aside*/
#endAside{
    width : 100%;
    text-align: left;
    background-color: #C2DCDD;
    border: 1px solid #ccc;
    font-weight: lighter;
}
#endAside h5{
    margin : 0 0 10px 0;
    font-size: 1.4em;
    font-weight: lighter;
}
#endAside .bigspan{
    display: inline-block;
    padding : 0.5vw 0.5vw;
}
#endAside .smallspan{
    font-size:1.2em;
    font-weight: 700;
    color : black;
}
/* ------------------------------------------------------------------------------------ */

/*programintro pages content css*/

.pArticleBody h3{
        width : 100px;
        height: 1.5em;
        background-color: #C2DCDD;
        color : white;
        text-align: center;
        line-height: 1.5em;
        border-radius: 1em;
    
}

/*centerintro pages content css*/
.centerintro_Article{ /*자리부족으로 인한 생성 for centerintro.html*/
    float : left;
    width : 80%;
    height : 1200px;
}

.cArticleBody{
    width : 80%;
    margin : 0 auto;
}

.cArticleBody h3{
    width : 100px;
    height: 1.5em;
    background-color: #C2DCDD;
    color : white;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
}

#spanbox{
    border : 2px solid #C2DCDD;
    border-radius: 1em;
    padding : 1% 1% 0 1%;
    line-height : 1.4em;
}

#centerintroself li{
    margin : 1vw auto;
}

#centerintroself{ 
    clear : both;
}


#intro_logo{
    width : 50%;
    height : 50%;
    float : right;
}


/*enterin.html*/
.enter_Article{
    float : left;
    width : 80%;
    height : 1000px;
    margin-bottom: 240px;
}

.enter_Article .cArticleBody h3{
    width : 200px;
    height: 1.5em;
    background-color: #C2DCDD;
    color : white;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
}

.enter_Article .cArticleBody li{
    margin : 1vw auto;
}

.navEnterin h4,
.money h4{
    margin : -1% 0 1% 0;
}

.navEnterin{
    margin-bottom: 3vw;
    border : 2px solid #C2DCDD;
    border-radius: 1em;
    padding : 1% 1%;
}

.navEnterin p{
    margin-top: 120px;
}

.money{
    border : 2px solid #C2DCDD;
    border-radius: 1em;
    padding : 1% 1%;
}
.graph{
    width : 80%;
    border: 1px solid black;
}

#graphimagediv{
    margin : 0 auto;
    width : 65%;
}

#graphimage{
    width : 100%;
    height : 100px;
    float : left;
}

.tb_2{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2vw;
}

.tb_2 th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bbb;
}

.tb_2 td{
    padding : 2%;
}

.tb_2 tr:nth-child(even){
    background-color: #eee;
}

.tb_2 tr:nth-child(odd){
    background-color : #bbb;
}

#tb_2th{
    border-right : 1.5px solid white;
}


.tb_3{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom:1px solid black;
    margin-bottom: 2vw;
}

.tb_3 th{
    padding-top : 2%;
    padding-bottom: 2%;
}

.tb_3 td{
    padding : 2%;
}

.tb_3 tr th,
.tb_3 tr td{
    border-right: 1px solid white;
}

.tb_3 tr:nth-child(even){
    background-color: #eee;
}

.tb_3 tr:nth-child(odd){
    background-color : #bbb;
}

/* facility.html*/
.facility_Article{
    width : 80%;
    height : 1000px;
    margin : 0 auto;    
    float : left;
}

.facility_photo{
    width : 47%;
    height : 30%;
    border : 5px solid #c2dcdd;
    margin-bottom: 3vw;
    float : left;
}

.facility_photo span{
    font-size : 1em;
}

#fa_photo1,
#fa_photo3,
#fa_photo5{
    margin-right: 2vw;
}

/* mapin.html */
.map_Article{
    width : 80%;
    float : left;
    height : 1000px;
}

.map{
    width : 100%;
    height : 700px;
    border : 1px solid black;
}

.mapExplain{
    width:100%;
    height:30%;
}

.mapExplain h3{
    margin : 1vw 0 1vw 0;
    width : 140px;
    font-size : 1em;
}

.mapExplain p{
    font-size : 0.9em;
    margin-left: 1vw;
}

/* ensurance.html */
.en_Article{
    float : left;
    width : 80%;
    height : 1400px;
    margin : 0 auto;
}

.eArticleBody{
    width : 80%;
    height : 1300px;
    margin : 0 auto;
}

.eArticleBody h3{
    width : 200px;
    height: 1.5em;
    background-color: #C2DCDD;
    color : black;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1em;
}

#ePost{
    float : left;
    margin-top :0.83em;
    margin-left : 10%;
}

#eNav{
    float : right;
    margin-top : 2.83em;
    margin-right : 10%;
    color:#C2DCDD;
}

.enexbox{
    width : 100%;
    line-height: 2;
    border: 2px solid #C2DCDD;
    border-radius: 1em;
    margin-bottom : 4vw;
    line-height: 1.4em;
}

.enclbox{
    width : 100%;
    border: 2px solid #C2DCDD;
    border-radius: 1em;
    margin-bottom : 2vw;
    line-height: 1.4em;
}

.exclbox{
    width : 100%;
    height : 820px;
    border : 2px solid #C2DCDD;
    border-radius: 1em;
    
}

#text{
    padding : 1%;
}

.box1 h4,
.box3 h4{
    margin : 0 0 0 1vw; 
    background-color: #C2DCDD; 
    color : black; 
    border-radius : 1em; 
    text-align : center;
    padding : 2%; 
    width : 150px;
}

.box2 h4,
.box4 h4{
    margin : 0 1vw 0 0; 
    background-color: #C2DCDD; 
    color : black; 
    border-radius : 1em; 
    text-align : center;
    padding : 2%; 
    width : 150px;
    float: right;
}

.box5 h4{
    margin : 0 0 0 1vw; 
    background-color: #C2DCDD; 
    color : black; 
    border-radius : 1em; 
    text-align : center;
    padding : 2%; 
    width : 180px;
}

.box1,
.box2,
.box3,
.box4,
.box5{
    padding : 2%;
    width : 100%;
    height : 160px;
    margin : 0 auto;
    font-size: 1.15em;
}

.leftimg{
    width : 7vw;
    height : 7vw;
    float : left;
    clear : both;
}

.rightimg{
    width : 7vw;
    height : 7vw;
    float : right;
    clear : both;
}

/* Pmpc pages content css */
.pmpc_Article{ /* pmpc pages container article sized */
    float : left;
    width : 80%;
    height : 700px;
}

.ArticleHead{
    height:100px;
}

.pArticleSearch{
    height : 30px;
}

.pArticleBody{
    width : 56vw;
    height : 600px;
    margin-top:15vw;
}
.pArticleFooter{ /**/
    width : 100%;
    margin : 0 auto;
    float : left;
}
#page_btns{
    float : left;
    margin-right: 20vw;
}

.pmpc_footer{ /*pmpcpage container searchplacer*/
    width : 100%;
    border : 1px solid black;
}

.pmpc_searchPlace{
    float : left;
    margin-left : 22vw;
    margin-bottom : 5px;
}

.searchPlace{
    float : right;
    margin-right: 6vw;
}

.pabNum{
    width : 15%;
    float : left;
}

.pabTitle{
    width : 65%;
    float : left;
}

.pabDate{
    width : 20%;
    float : left;
}

.pabNum, .pabTitle, .pabDate{
    border-top : 2px solid rgb(65, 61, 56);
    border-bottom : 2px solid #C2DCDD;
    text-align: center;
    padding : 10px 0;
}

.pabContent{
    width : 100%;
    height : 600px;
    float : left;;
}

/*pmpc table*/
.tb_1{
    width : 65%;
    margin-left : 20%;
    margin-top : 0.83em;
    float : left;
}

.tb_1 th{
    padding : 1%;
    text-align: center;
    background-color: bisque;
    border-top: 4px solid #C2DCDD;
    border-bottom: 1px solid black;
}

.th_num{
    border-right: 1px solid black;
    width : 10%;
}

.th_title{
    border-right: 1px solid black;
    width : 70%;
}

.th_regist{
    width : 20%;
}

.tb_1 td{
    text-align: center;
    padding : 1%;
    border-bottom:1px solid black;
    font-size : 0.8em;
}

/* programintro.html - */
.program_Article{
    width : 80%;
    height : 600px;
    float : left;
}

/* careservi.html */
.care_Article{
    width : 80%;
    height : 500px;
    float : left;
}

/* cureservi.html */
.cure_Article{
    width : 80%;
    height : 700px;
    float : left;
}
/* daycarein.html */
.daycare_Article{
    width : 80%;
    height : 1200px;
    float : left;
}

.tb_4{
    width : 90%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
}

.tb_4 th,
.tb_4 td{
    border-right : 1px solid white;
}

.tb_4 th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bbb;
}

.tb_4 td{
    padding : 2%;
}

.tb_4 th:nth-child(2),
.tb_4 th:nth-child(3),
.tb_4 th:nth-child(4),
.tb_4 th:nth-child(5),
.tb_4 th:nth-child(6){
    width : 13%;
}

.tb_4 tbody>tr:nth-child(odd){
    background-color: #eee;
}

.tb_4 tbody>tr:nth-child(even){
    background-color: #bbb;
}

.tb_4 tfoot{
    background-color: #bbb;
}
.tb_5{
    border : 1px solid black;
    width : 90%;
    margin : 0 auto;
    text-align: center;
}
.tb_5 th,
.tb_5 td{
    border : 1px solid black;
}

.tb_5 th:nth-child(1),
.tb_5 th:nth-child(2){
    width : 15%;
}
/* mentori.html */
.mentor_Article{
    width : 80%;
    height : 500px;
    float : left;
}

/* lifeproi.html */
.life_Article{
    width : 80%;
    height : 500px;
    float : left;
}

/* plani.html */
.plan_Article{
    width : 80%;
    height : 1380px;
    float : left;
}

/* recogproi.html */
.recog_Article{
    width : 80%;
    height : 500px;
    float : left;
}
/****************************************/

 /* photo.html */

 .photocontainer{
    float : left;
    width : 70%;
    margin-left : 7vw;
}


.photocontainer article{
    float : left;
    width : 70%;
    margin-left : 7vw;
}
.photo_list{
    clear:both;
    line-height: 20px;
}

.photo_list table{
    table-layout: fixed;
    width: 100%;
    clear:both;
    border-collapse: collapse;
    border-spacing: 0;
}


.photo_i img{
    width:90%;
    margin-top:10px;
    margin-bottom:5px;
}

.photo_content{
    text-align : center;
}

.photo_title{
    color:dodgerblue;
}

.photo_date{
    color:#C2DCDD;
}

.photo_text{

}

#photoTr{
    text-align: center;
}

#photo_article{
    float:left;
    width:80%;
    height: 900px;
}

.main_photo_box{
    padding:20px;
    margin:0;
    border:1px solid #ccc;
}

.main_photo{
    float:left;
}

.main_photo img{
    display:block;
    max-width:300px;
    margin:0 auto;
}

.main_photo_box h2{
    font-size:22px;
    padding:10px 0 20px 20px;
}

.main_photo_box h3 span{
    padding-left:45px;
}

.main_photo_box p{
    font-size:17px;
}

.main_photo_box p strong{
    padding-left:50px;
    line-height: 30px;
}

.main_photo_box p strong:after{
    display:inline-block;
    padding-right:10px;
    padding-left:10px;
    content:":";
}

.main_photo_box:after{
    display:block;
    clear:both;
    content:"";
}

.photo_content_box{
    padding:10px 10px 10px 20px;
    border:1px solid #ccc;
    margin-bottom:30px;
}

.photo_content_text{
    display:block;
    line-height:20px;
    margin:20px 0;
    padding-left:20px;
}

.photo_btn{
}

.btn_con{
    text-align: center;
}

.td1>img{
    width:17vw;
    height:11.33vw;
}

/******************Custom Pages***************/
/*consulting, question*/
.buttons{
    float : right;
    margin-right: 1vw;
}
#wri_question{
    padding : 10px;
    font-size: 1em;
    background-color: #F5a01a;
}
#modalspan{
    font-size : 0.8em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  #mod_cont_question{
      resize: none;
      width:100%;
  }

  #modallogo{
      width:8%;
      height:8%;
      float : left;
      margin-bottom:1%;
      margin-right:1%;
  }

  .modalspan{
      float : left;
      margin-top : 2%;
  }

  /*Personal Information*/

  .personalInfor{
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height : 500px;
  }

  .persHeader{
      width : 80%;
      height : 30px;
      float : left;
      margin-left: 2vw;
      font-size: 1em;
      font-weight: bold;
  }
  .persContent{
      width : 80%;
      height : 400px;
      float : left;
      margin-left: 2vw;
      font-size:0.7em;
      font-weight: lighter;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



 
/*question.html ~ consulting.html*/

.question_Article{
    float : left;
    width : 80%;
    margin : 0 auto;
    height : 800px;
}