@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* mediaquery */
@media(max-width:1240px){
    .pc_page{
        display: none;
    }
    #mobile_page_id{
        display: block;
    }

    .m_horizonlist{
        display:flex;
        justify-content: center;
    }
    .m_horizonlist>li{
        float:left;
        padding : 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1em;
        border : 1px solid #bbb;
        letter-spacing: 0.1em;
    }
    
    .m_horizonlist>li>a{
        cursor: default;
    }
    
}

@media(max-width:1024px){
    #mobile_page_id{
        width : 100%;
    }
    body #mobile_page_id{font-size: 0.8em;}
    #mobile_page_id .mobile_sub_article{width : 90%; margin : 0 auto; word-break: break-all;}
    .mobile_page #mobile_enterin_list>ul>li:nth-child(1){margin-left: 3%;}
    .mobile_page #mobile_enterin_list>ul>li{margin-right: 10px;width : 14.5%}
    
}

@media(max-width : 960px){
    .mobile_page footer .mobile_footer_logo{width : 16%;}
    .mobile_page footer .mobile_footer_information{width : 44%;}
    .mobile_page footer .mobile_footer_rule{width : 33%;}
}

@media (max-width : 768px){

    .mobile_page footer .mobile_footer_information{width : 80%;}

    #mobile_page_id #header{height : 80px; background-image: none; }
    #mobile_page_id #sub_header{height : 80px;}
    #mobile_page_id .mobile_banner{display: none;}

    #mobile_page_id {font-size: 0.9em;}

    #mobile_page_id table th{font-size: 0.8em;}
    #mobile_page_id table td{font-size: 0.8em;}
    
    .mobile_page .mobile_index_enterin #mobile_enterin_list {display: none;}
    .mobile_index_article .mobile_consultant p{display: none;}
    #mobile_page_id .mobile_index_article{height: 600px;}
    #mobile_page_id .mobile_index_article .mobile_map{height : 200px; background-color: #fff;}
    #mobile_page_id .mobile_index_article .mobile_map h1{padding-left: 7%;}
    #mobile_page_id .mobile_index_article .mobile_consultant{height : 200px;background-color: #2fb8d4;}
    #mobile_page_id .mobile_index_article .mobile_post{height:200px; float : left;background-color: #39c3cf;}
    #mobile_page_id .mobile_index_article .mobile_post ul{display: none;}
    #mobile_page_id .mobile_index_article .mobile_index_enterin{width :50%;height: 200px;float:left;background-color: #b3e9ee;}
    #mobile_page_id .mobile_index_article .mobile_index_enterin h1{float: left;padding-left: 7%;margin: 15px 50px 10px 0; width : 150px; text-align: left;}
    #mobile_page_id .mobile_index_article .mobile_index_enterin p{display: none;}
    #mobile_page_id .mobile_index_article .mobile_index_gallery{height:200px;width :50%;float: left; background-color: #91edf5;display: block;}
    #mobile_page_id .mobile_index_article .mobile_index_gallery h1{padding-left: 7%;}
    #mobile_page_id .mobile_index_article .mobile_index_insurance h1{padding-left: 7%;}
    #mobile_page_id .mobile_index_article .mobile_index_insurance{height:200px;width:50%;float: left;background-color: #2d99a2;display: block;}
    .mobile_index_article .mobile_map span,.mobile_index_article .mobile_map h4 {display: none;}
    .mobile_index_article .mobile_map .mobile_map_photo {display: none;}
    #mobile_page_id #mobile_menu>ul>li{font-size: 1.2em;}

    #mobile_page_id #mobile_articleList h2{font-size: 1.2em;}

    .mobile_page footer .mobile_footer_logo img{width : 80%;}
    .mobile_page footer .mobile_footer_rule{display:none;}
    #mobile_page_id .index_icon{width : 30%; margin: 0 auto; height: 150px; display: block; padding-left: 0%;}
    #mobile_page_id .index_icon img{width : 120%;height: 120px; display: block; padding-left: 0%;}

    .mobile_page footer .mobile_footer_logo img{width : 80%}
    .mobile_page footer .mobile_footer_rule{width : 35%}

    .mobile_page footer .mobile_footer_rule p {margin-bottom: 7px;}
    footer .mobile_footer_rule p:nth-child(4){word-break: break-all;}
    footer .mobile_footer_rule p:nth-child(5){display: none;}
    .mobile_page #mobile_enterin_list>ul>li:nth-child(1){margin-left: 30px;}
    .mobile_page #mobile_enterin_list>ul>li{margin-right: 10px;width : 13.5%}
    .mobile_page .howEnter{ width : 95%; margin : 0 auto ;height : 100px; }

    .mobile_page .mobile_index_article .mobile_consultant img{display: none;}

    #mobile_page_id #mobile_menu{width : 70%; left : 30%;}

    #mobile_page_id #mobile_headList li{margin-right : 10px; font-size : 0.8em;}

    #mobile_page_id .mCenterintro_article{height : 900px;}
    #mobile_page_id .sub_article_body #mobile_articleList h4{font-size: 1.1em;}
    #mobile_page_id .sub_article_body #mobile_articleList span{font-size: 0.9em;}
    #mobile_page_id .mobile_sub_article .sub_article_body{height : 550px;}

    #mobile_page_id #plani_img_div {width : 95%; height : 800px; margin : 0 auto;}
    #mobile_page_id .download{font-size: 1.2em;}

    #mobile_page_id .mobile_facility_ph{height: 200px;}
    #mobile_page_id .mobile_facility_ph img{height : 180px;}

    #mobile_page_id .mobile_main_map{height: 300px; width : 90%;}

    #mobile_page_id .sub_article_head p{font-size: 0.9em;}

    .m_horizonlist>li{
        float:left;
        padding : 10px;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 1em;
        border : 1px solid #bbb;
        letter-spacing: 0em;
    }

    #mobile_page_id .graphImg{height : 150px;}
}

@media (max-width:375px){
    #mobile_page_id #mobile_headList li{font-size: 0.6em;padding : 5px 2px;letter-spacing: 0;}
}

/* Commonly used*/
*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
}

.pc_page{
    width : 100%;
    height : auto;
}

.img100{
    width : 100%;
    height : 100%;
}

footer a:hover{
    text-decoration: underline;
}
a:link{
    text-decoration: none;
    color : black;
}

a:visited{
    text-decoration: none;
    color : black;
}

/* HEADER */
header{
    width : 1440px;
    height : 50vh;
    margin : 0 auto;
}

header h3,
header h5{
    margin : -10px 0 0 0;
    display: block;
    width : 150px;
    height : 1.5em;
}

.wrapper{
    width : 100%;
    height : 100%;
    margin: 0 auto;
    background-image: url('../assets/images/Banner.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    width : 100%;
    height : 8vh;
    margin : 0 auto;
    background-color: rgba(255,255,255,0.8);
}

.topMenu{
    padding : 0;
    margin : 0 auto;
    z-index: 1;
    height : 100%;
    width : 90%;
    line-height: 8vh;
}

.dept01{
    text-align: center;
    height : 100%;
    display: flex;
    justify-content: center;
}

.dept01>li{
    list-style-type: none;
    float : left;
    height : 100%;
}

.dept01>li>span{
    line-height: 8vh;
    display: block;
}

#logo{
    width : 6vh;
    height : 6vh;
    float : left;
    margin-top: 1vh;
}

.topMenu ul li ul{
    display: none;
    padding : 0;
    /*margin : 8px;*/
    position :absolute;
    line-height: 40px;
    border-bottom: 2px solid #A0D56E;
    text-align: left;
    width:100%;
    font-size: 0.9em;
}

.topMenu>ul>li>ul{
    z-index: 11;
}

.topMenu ul li ul li{
    line-height:40px;
    text-align: center;
}

#border1{
    border-left: 2px solid #A0D56E;
    background-color:white;
    width:124px;
    
}

#border2{
    background-color : white;
    width:225.63px;
    padding-bottom:80px;
}

#border3{
    padding-bottom: 80px;
    background-color : white;
    width:124px;
}

#border4{
    padding-bottom: 120px;
    background-color : white;
    width:193.63px;
}

#border5{
    padding-bottom: 120px;
    background-color : white;
    width:151.25px;
    border-right: 2px solid #A0D56E;
}

/* Header END */

.container{
    width : 1440px;
    height : 1500px;
    margin : 0 auto;
}

.indexArticle{
    width : 100%;
    height : 100%;
    float : left;
}

.content{
    width : 100%;
    height : 100%;
    float : left;
}

.photo{
    width : 50%;
    height : 500px;
    float  : left;
    background-color: #c7dbdd;
}

.highlightzone{ /* used in Daycare > classes*/
    width : 100%;
    height : 20%;
}

.plusBtn{
    float : right;
    width : 30px;
    height : 30px;
    background-color: #535353;
    color : white;
    font-size : 1.3em;
    border : none;
}

.photo h3,
.photo h4{
    text-align: left;
}

.photo .highlightzone{
    width : 60%;
    height : 20%;
    margin : 0 auto;
}

.photozone{
    width : 100%;
    height : 60%;
    float : left;
}

.miniPhoto{
    margin : 0 auto;
    width : 60%;
    height : 100%;
    background-color: white;
}

.btnzone{
    float : left;
    width : 100%;
    height : 20%;
    margin : 0 auto;
}

.miniBtn{
    margin : 0 auto;
    width : 60%;
    margin-top : 20px;
}

#photo_btn1{
    float : left;
    padding : 10px 8px;
}

#photo_btn2{
    float : right;
    padding : 10px 8px;
}

#photo_btn1,
#photo_btn2{
    width : 40%;
}

.post{
    width : 50%;
    height : 500px;
    float : left;
    background-color: #DBE7E5;
}

.post h3,
.post h4{
    text-align: left;
}

.post .highlightzone{
    width : 70%;
    height : 20%;
    margin-left: 11%;    
}

.listzone{
    width : 100%;
    height : 80%;
    float : left;
}

.postlist{
    width : 70%;
    height : 100%;
    margin-left: 11%;    
}

.postlist>ul>li{
    width : 100%;
    padding : 13px 10px;
    margin-bottom: 25px;
    background-color: white;
    font-size : 0.8em;
    font-weight: 600;
}

.indexEnterin{
    width : 100%;
    height : 400px;
    float : left;
    margin : 0 auto;
}

.indexEnterin h1, 
.indexEnterin h5{
    text-align: center;
}

.indexEnterList{
    width : 100%;
    height : 80%;
    float: left;
    text-align: center;
}

.indexEnterList>ul{
    display: inline-block;
    text-align: center;
}

.indexEnterList>ul>li{
    list-style-type: none;
    float: left;
    background-color: white;
    font-size : 1em;
    font-weight: 600;
    margin-right : 20px;
    margin-top : 40px;
    width : 150px;
    height : 180px;
    padding-top:40px;
    color : white;
}

.indexEnterList li span{
    font-weight: 600;
    font-size: 2.5em;
}

.miniMap{
    width : 100%;
    height : 600px;
    float : left;
    background-color:#535353
}

.miniMap .highlightzone h1{
    padding-top : 3%;
    text-align: center;
    color : white;
}
.spanzone div{
    margin-bottom: 50px;
}
.spanzone h1{
    margin-bottom: 50px;
}
.spanzone h1, 
.spanzone h4{
    margin-left: 30px;
    text-align: left;
    color : white;
}

.mapdiv{
    width : 55%;
    height : 70%;
    float : left;
}

.map{
    width : 80%;
    height : 100%;
    float : right;
    background-color: white;
}

.spanzone{
    height : 70%;
    width : 45%;
    float : left;
}

/* all page footer */
footer{
    width : 1440px;
    height : 250px;
    margin : 0 auto;
    background-color: #c7dbdd;
}

.empty{
    height: 20%;
    width:100%;
    float : left;
}

.footerContent{
    width : 100%;
    height : 80%;
    float : left;
}

.footer_logo{
    width : 30%;
    height : 100%;
    float : left;
}

.footer_information1{
    width : 25%;
    height : 100%;
    float : left;
}
.footer_information1 a:visited{
    text-decoration: none;
}

.footer_information1 h1{
    font-size: 1.3em;
}

.footer_information1 h1,
.footer_information1 h2,
.footer_information1 h5{
    color :black;
    text-align: left;
    margin : 0 0 0 25%;
    line-height: 1.5em;
}

.footer_information2{
    width:30%;
    height : 100%;
    float : left;
    margin-left : 5%;
}

.footer_information2 p{
    margin : 5px 0 5px 0;
    color : black;
}

/* modal last of css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height : 70%;
  }

  .modal_head{
    width : 100%;
    height : 15%;
    background-color: #c7dbdd;
    padding-left : 5%;
  }

  #modal-in-photo .modal_head{
      padding-left : 5%;
  }

  .imgCloseBtn{
    width : 10%;
    height : 100%;
    float : right;
    padding : 2% 5% 0 0;
    }

  .modal_head_span{
      float : left;
      width : 90%;
      height : 100%;
  }

  .modal_title{
      width : 100%;
      float : left;
      height : 50%;
  }


  .modal_name{
      width : 20%;
      float : left;
      height : 50%;
  }

  .modal_pwd{
    width : 35%;
    float : left;
    height : 50%;
  }

  .modal_num{
      width : 35%;
      float : left;
      height : 50%;
  }

  #modal-in-text .modal_head_span h2,
  #modal-in-text .modal_head_span h5{
      text-align: left;
      margin : 2% 0 0 0;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_body{
      width : 100%;
      height : 70%;
      margin : 0 auto;
  }

  .modal_body_head{
      width : 90%;
      height : 10%;
      margin : 0 auto;
  }

  .mbody_spanzone{
      display: inline-block;
      width : 100%;
      height : 100%;
  }

  .modal_body_head h2,
  .modal_body_head h5{
      margin : 1% 0 0 0;
  }
  
  .modal_body_article{  
      width : 100%;
      height : 90%;
      float : left;
  }

  .modal-zone{
      width : 90%;
      height : 100%;
      margin : 0 auto;
      float:left;
      position: relative;
      margin-left:5%;
  }

  .modalspan{
      display: inline-block;
      word-break: break-all;
  }
    
  .prevBtn,
  .nextBtn{
    float:left;
    width : 50%;
    height : 100%;
    font-size: 1.3em;
  }

  .modal_footer{
    width : 100%;
    height : 15%;
  }

  .mfooter_spanzone{
    width : 90%;
    height : 15%;
    margin : 0 auto;
  }

  .moreBtn{
      width : 20%;
      height : 50px;
      float : right;
      font-size : 1em;
      line-height: 1em;
      margin-top : 10px;
      background-color: #c7dbdd;
      border : none;
  }

  .beforeBtn{ /* consulting, question */
    width : 20%;
    height : 50px;
    float : right;
    font-size : 1em;
    line-height: 1em;
    background-color: #c7dbdd;
    border : none;
}

  #modal-in-photo .modalBtns{ /* index photo */
    position: absolute;
    left : 86.1%;
    z-index: 1;
    width : 14%;
    height : 10%;
    bottom:0px;
    background-color:azure;
  }

  #modal-in-photo .modalspan{
      margin-top: 1%;
  }
  #modal-in-text .modal-zone{
      border : 1px solid #c7dbdd;
  }
  
  #modal-in-text .modalspan{
    margin : 1% 1%;
    font-size: 1em;
  }

  #modal-ask .modalspan{
      margin-top : 2%;
      font-size: 1em;
  }

  #modal-answer .modalspan{
      margin-top : 2%;
      font-size : 1em;
  }

  #modal-in-text .modalBtns{
    position: absolute;
    left : 86%;
    background-color: azure;
    bottom:0px;
    z-index: 1;
    width : 14%;
    height : 10%;
  }

#mod_cont_question{
    resize: none;
    width:100%;
}

#modallogo{
    width:12%;
    height:12%;
    float : left;
    margin-bottom:1%;
    margin-right:1%;
}

#mod_cont_question{
    width : 100%;
    height : 45vh;
    font-size : 1em;
}

.modal_question_article{
    width : 90%;
    height : 90%;
    margin : 0 auto;
    margin-top : 2%;
}

.answer-textarea{
    width : 100%;
    height : 100%;
    border : 1px solid #7fc9cf;
}

#submitBtn{
    float : right;
    width : 100px;
}

#cancleBtn{
    float : right;
    margin-left: 10px;
    width : 100px;
}

/* check_pw_modal */
#check_pw{
    background-color: white;
    margin : 15% auto;
    border : none;
    width : 30%;
    height : 15%;
}

#check_pw h4{
    margin : 1% 0 0 0;
    display: inline-block;
}

#check_pw_box{
    width : 90%;
    margin : 0 auto;
    padding-top: 40px;
}

#check_pw .modal_head{
    height : 25%;
    margin : 0 auto;
}
/* submit_err_modall */
#submit_err{
    background-color: white;
    margin : 15% auto;
    border : none;
    width : 30%;
    height : 15%;
}

#submit_err h4{
    margin : 1% 0 0 0;
    display: inline-block;
}

#submit_err_box{
    width : 100%;
    float : left;
    padding:7% 0 0 5%;
}

#submit_err .modal_head{
    height : 25%;
    margin : 0 auto;
}
  /******************** Sub Pages Css ********************/

  /*Commonly used Header / Container / aside / articleList */
.sub_wrapper_span{
    width : 100%;
    height : 27vh;
    margin : 0 auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}
.sub_wrapper_span h2{
    margin : 0 0 2% 0;
    padding : 4% 0 0 0;
}
.sub_wrapper_span span{
    color : white;
}

#subHeader{
    width : 1440px;
    height : 35vh;
    margin : 0 auto;
}

.subContainer{
      width : 1200px;
      height : 1500px;
      margin : 0 auto;
      margin-top: 30px;
}

aside{ /*Commonly used aside (nav aside)*/
    float : left;
    width : 19%;
    height : 500px;
    text-align: center;
}

aside li{
    padding : 20px;
    font-size: 1em;
    border : 1px solid #bbb;
    letter-spacing: 0.1em;
}

.asideDiv li{
    margin-top:-1px;
}

.asideDiv li:nth-child(1){
    margin-top : 0px;
}

#endAside{
    text-align: left;
    background-color: #C2DCDD;
    font-weight: 600;
}

#endAside h5{
    margin : 0 0 10px 0;
    font-size: 1.4em;
    font-weight: lighter;
}

#endAside .bigspan{
    display: inline-block;
    padding : 1vw 2vw;
    font-weight: 500;
}

#endAside .smallspan{
    font-size:1.3em;
    font-weight: 500;
    color : black;
}

#location{
    background-color: #bbb;
}

#location a{
    color : white;
}

#articleList{
    list-style-type: disc;
    padding-left : 2%;
}

#articleList>li{
    margin-bottom: 8%;
    color : #2d99a2;
}

#articleList h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#articleList span{
    font-size: 1.1em;
    line-height: 1.8em;
    color : black;
}

#articleList li>ul>li h4{
    padding-top : 2%;
}

#articleList p{
    line-height: 1.8em;
}

#pageLocation_left{
    float : left;
    padding-top: 5%;
    font-size: 1.2em;
}

#pageLocation_right{
    float : right;
    padding-top: 9%;
    color : #aaa;
    font-size: 0.9em;
}

/* centerintro */
.centerintro{
    width : 80%;
    height : 100%;
    float : left;
}

.centerintro .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.centerintro #pageLocation_left{
    padding-top : 20px
}

.centerintro #pageLocation_right{
    padding-top : 54px;
}

.centerintro .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 4%;
    margin : 0 auto;
}
#intro_logo{
    width : 50%;
    height : 50%;
    float : right;
}

.centerintro #articleList li ul li{
    margin-bottom : 14px;
}

/* mapin */
.mapin{
    width : 80%;
    height : 100%;
    float : left;
}

.mapin .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.mapin #pageLocation_left{
    padding-top : 20px;
}
.mapin #pageLocation_right{
    padding-top : 54px;
}

.mapin .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.main_map{
    width : 90%;
    height : 60%;
    border : 1px solid black;
    margin : 0 auto;
    margin-bottom : 3%;
}

.mapin #articleList>li {
    margin-bottom : 4%;
}

/* facility */
.facility{
    width : 80%;
    height : 100%;
    float : left;
}

.facility .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.facility .articleBody{
    width : 90%;
    height : 90%;
    padding-top:7%;
    margin : 0 auto;
}

.facility #pageLocation_left{
    padding-top : 20px;
}

.facility #pageLocation_right{
    padding-top : 54px;
}

.facility_big_photo{
    width : 80%;
    height : 60%;
    border : 1px solid #999999;
    margin : 0 auto;
}

#fa_photo_big{
    width : 100%;
    height : 100%;
}

.fa_current{
    border : 4px solid #2d99a2;
}

.facility_photo{
    width : 90%;
    height : 30%;
    margin : 0 auto;
    margin-top : 20px;
}

#fa_photo1,
#fa_photo4{
    margin-left: 20px;
}

#fa_photo1,
#fa_photo2,
#fa_photo4,
#fa_photo5{
    float : left;
    width : 30%;
    height : 130px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#fa_photo3,
#fa_photo6{
    float : left;
    width : 30%;
    height : 130px;
    margin-bottom: 20px;
}


/* rule */
.rule{
    width : 80%;
    height : 100%;
    float : left;
}

.rule .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.rule .articleBody{
    width : 90%;
    height : 86%;
    padding-top:4%;
    margin : 0 auto;
}

.rule #pageLocation_left{
    padding-top : 20px;
}

.rule #pageLocation_right{
    padding-top : 54px;
}

.rule ol{
    list-style-type : decimal;
    color : black;
    font-size: 1.2em;
}

.rule ol li{
    margin-bottom: 2%;
}
/* enterin */
.enterin{
    width : 80%;
    height : 100%;
    float : left;
}

.enterin .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.enterin .articleBody{
    width : 90%;
    height : 86%;
    padding-top:4%;
    margin : 0 auto;
}

.enterin #pageLocation_left{
    padding-top : 20px;
}

.enterin #pageLocation_right{
    padding-top: 54px;
}

.enterin p{
    color : black;
}

.howEnter{
    width : 100%;
    height : 150px;
}

.howEnter img{
    width : 100%;
    height : 100%;
}
/* insurance */
.insurance{
    width : 80%;
    height : 100%;
    float : left;
}

.insurance .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.insurance .articleBody{
    width : 90%;
    height : 86%;
    padding-top:5%;
    margin : 0 auto;
}

.insurance #pageLocation_left{
    padding-top: 20px;
}

.insurance #pageLocation_right{
    padding-top: 54px;
}

#insurancelist{
    list-style-type: disc;
    padding-left : 2%;
}

#insurancelist>li{
    margin-bottom: 8%;
    color : #2d99a2;
}

#insurancelist h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#insurancelist span{
    font-size: 1.2em;
    color : black;
}

#insurancelist li>ul>li h4{
    padding-top : 5%;
}


/* consulting */
.consulting{
    width : 80%;
    height : 100%;
    float : left;
}

.consulting .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.consulting .articleBody{
    width : 90%;
    height : 86%;
    padding-top:2%;
    padding-bottom: 20px;
    margin : 0 auto;
}

.consulting #pageLocation_left{
    padding-top : 20px;
}

.consulting #pageLocation_right{
    padding-top : 54px;
}

.question_searchPlace{
    float : right;
    width : 45%;
}

.for_float_right{
    float : right;
}

.questionHead{
    width : 100%;
    height : 80%;
    float : left;
    margin : 3% 0 5% 0%;
    padding : 1% 1%;
}

.questionHead div{
    text-align: center;
}

.questionTb{
    width : 100%;
    font-size: 1em;
}

.questionTb th{
    border-top : 1px solid black;
    border-bottom: 1px solid #7fc9cf;
    padding : 1% 1%;
}

.askNum{
    width : 10%;
    float : left;
}

.askTitle{
    width : 70%;
    float : left;
}

.askDate{
    width : 20%;
    float : left;
}

.questionTb tbody{
    width : 100%;
    height : 100%;
}
.questionTb td{
    padding : 1% 0;
    float : left;
    text-align: center;
    border-bottom: 1px solid #Bbb;
}

.questionTb td:nth-child(1){
    width : 10%;
}

.questionTb td:nth-child(2){
    width : 70%;
}

.questionTb td:nth-child(3){
    width : 20%;
}


.questionTb tbody tr:hover{
    color : #2d99a2;
    font-weight: bold;
}

.questionFoot{
    width : 100%;
    height : 10%;
    float : left;
    padding : 1% 1%;
}

.pageBtns .prevBtn,
.pageBtns .nextBtn,
.pageBtns .pageButton{
    float:right;
    width : 42px;
    height : 40px;
    font-size : 1em;
    background-color: #ffffff;
    margin-top : 2%;
    padding:5px;
}

.current{
    color : #2d99a2;
    font-weight: bold;
}

.queBtns{
    position: absolute;
    left:70%;
    width : 30%;
    float : right;
}

#wri_question{
    float : right;
    padding : 5% 5%;
    font-weight: 500;
    font-size: 1.2em;
    background-color: #2d99a2;
    color : white;
    border : none;
}

/* 테이블 */

.tb{
    width : 100%;
    text-align: center;
    float : left;
    border-top : 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin-bottom: 2vw;
}

.tb th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #C2DCDD;
    border-bottom: 1px solid #999999;
    font-weight: bold;
    font-size : 1.2em;
}

.tb tr{
    border-bottom: 1px solid #999999;
}

.tb td{
    padding : 2%;
    background-color: rgba(240,240,240,0.4);
    color : black;
}

.tb_border{
    border-right : 1.5px solid #999999;
}

/* daycarein */
.tb_big{
    width : 100%;
    text-align: center;
    float : left;
    border-top : 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin-bottom: 2vw;
}

.tb_big th{
    padding-top : 2%;
    padding-bottom: 2%;
    background-color: #C2DCDD;
    border : 1px solid #999999;
    border-left: none;
    font-weight: bold;
    font-size : 1.2em;
}

.tb_big tr{
    border-bottom: 1px solid #999999;
}

.tb_big td{
    padding : 2%;
    background-color: rgba(240,240,240,0.4);
    color : black;
    border : 1px solid #999999;
}

.graphImg{
    width : 100%;
    height : 300px;
    margin : 0;
}

.graphImg img{
    float: left;
    width : 100%;
    height : 100%;
}

/* 포토*/
.photoPage{
    width : 80%;
    height : 100%;
    float : left;
}

.photoPage .articleHead{
    width : 90%;
    height : 70px;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.photoPage .articleBody{
    width : 90%;
    height : 86%;
    padding-top:2%;
    margin : 0 auto;
}

.photoPage #pageLocation_left{
    padding-top : 20px;
}

.photoPage #pageLocation_right{
    padding-top : 54px
}

.photo_list{
    clear:both;
    line-height: 20px;
}

.photo_list table{
    table-layout: fixed;
    width: 100%;
    clear:both;
    border-collapse: collapse;
    border-spacing: 0;
}

.td1>a>img{
    width:90%;
    height:11.33vw;
}

#photoTr{
    text-align: center;
}

.photo_content{
    text-align : center;
}

.photo_title{
    color:dodgerblue;
}

.photo_date{
    color:#C2DCDD;
}

.photoTb tbody img:hover{
    border : 4px solid #2d99a2;
}

/* pmpc */

#search_err{
    background-color: #fefefe;
    margin:5% auto;
    padding:20px;
    border:1px solid #888;
    width:50%;
}

/* 포토보드 */
.main_photo_box{
    width : 100%;
    height : 70%;
    padding:20px;
    float : left;
    border-top : 2px solid #2d99a2;
    overflow: auto;
}

.photo_content_box{
    width : 100%;
    height : 10%;
    border-top : 2px solid #999999;
    border-bottom : 2px solid #999999;
    margin-bottom:30px;
    margin-top: -1px;
    float : left;
}

.main_photo{
    float:left;
}

.main_photo img{
    display:block;
    max-width:400px;
    max-height: 350px;
    margin:0 auto;
}

.main_photo_box h2{
    font-size:22px;
    padding:10px 0 20px 20px;
}

.main_photo_box h3 span{
    padding-left:45px;
}

.main_photo_box p{
    font-size:17px;
}

.main_photo_box p strong{
    padding-left:50px;
    line-height: 30px;
}

.main_photo_box p strong:after{
    display:inline-block;
    padding-right:10px;
    padding-left:10px;
    content:":";
}

.main_photo_box:after{
    display:block;
    clear:both;
    content:"";
}

.photo_content_text{
    display:block;
    margin : 10px 0;
}

/* daycarein */
.daycarein{
    width : 80%;
    height : 100%;
    float : left;
}

.daycarein .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.daycarein #pageLocation_left{
    padding-top : 20px;
}

.daycarein #pageLocation_right{
    padding-top : 54px;
}

.daycarein .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 7%;
    margin : 0 auto;
}

/*programin*/

.horizonlist{
    display:flex;
    justify-content: center;
}
.horizonlist>li{
    float:left;
    padding : 20px;
    font-size: 1em;
    border : 1px solid #bbb;
    letter-spacing: 0.1em;
}

.horizonlist>li>a{
    cursor: default;
}

.programNav #articleList{
    margin-top: 3%;
}

.programNav #articleList span{
    font-size: 1em;
    color : black;
    line-height: 1.3em;
}

.programNav #articleList li ul li{
    color : black;
    line-height: 1.3em;
}

#recogproi{
    width:80%;
    display: none;
    margin:0 auto;
}

#m_recogproi{
    width:100%;
    display:none;
    margin:0 auto;
}

#lifeproi{
    width:80%;
    display: none;
    margin:0 auto;
}

#m_lifeproi{
    width:100%;
    display:none;
    margin:0 auto;
}

#cureservi{
    width:80%;
    display: none;
    margin:0 auto;
}

#m_cureservi{
    width:100%;
    display:none;
    margin:0 auto;
}

#careservi{
    width:80%;
    display: none;
    margin:0 auto;
}

#m_careservi{
    width:100%;
    display:none;
    margin:0 auto;
}

#mentori{
    width:80%;
    display: none;
    margin:0 auto;
}

#m_mentori{
    width:100%;
    display:none;
    margin:0 auto;
}

.programintro #articleList li ul li{
    margin-bottom : 14px;
}

.programintro{
    width : 80%;
    height : 100%;
    float : left;
}

.programintro .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.programintro #pageLocation_left{
    padding-top : 20px;
}

.programintro #pageLocation_right{
    padding-top : 54px;
}

.programintro .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 7%;
    margin : 0 auto;
}

/* plani.html*/
.plani #articleList li ul li{
    margin-bottom : 14px;
}

.plani{
    width : 80%;
    height : 100%;
    float : left;
}

.plani .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.plani #pageLocation_left{
    padding-top : 20px;
}

.plani #pageLocation_right{
    padding-top : 54px;
}

.plani .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 2%;
    margin : 0 auto;
}

.download{  /*plani , meal_board*/
    float :right;
    width : 100%;
    height : 40px;
    margin-top : 6px;
    color : #999999;
    font-weight: lighter;
    font-size: 1em;
}

.download a{
    float : right;
}

.download a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* pmpc */
.pmpc #articleList li ul li{
    margin-bottom : 14px;
}

.pmpc{
    width : 80%;
    height : 100%;
    float : left;
}

.pmpc .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.pmpc #pageLocation_left{
    padding-top : 20px;
}

.pmpc #pageLocation_right{
    padding-top : 54px
}

.pmpc .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 2%;
    padding-bottom: 20px;
    margin : 0 auto;
}

.pmpc_searchPlace{
    float : right;
    width : 45%;
}

.pmpcHead{
    width : 100%;
    height : 80%;
    float : left;
    margin : 3% 0 5% 0%;
    padding : 1% 1%;
}

.pmpcHead div{
    text-align: center;
}

.pmpcTb{
    width : 100%;
    font-size: 1em;
}

.pmpcTb th{
    border-top : 1px solid black;
    border-bottom: 1px solid #7fc9cf;
    padding : 1% 1%;
}

.pmpcTb tbody{
    width : 100%;
    height : 100%;
}
.pmpcTb td{
    padding : 1% 0;
    float : left;
    text-align: center;
    border-bottom: 1px solid #Bbb;
}

.pmpcTb td:nth-child(1){
    width : 10%;
}

.pmpcTb td:nth-child(2){
    width : 70%;
}

.pmpcTb td:nth-child(3){
    width : 20%;
}

.pmpcTb tbody tr:hover{
    color : #2d99a2;
    font-weight: bold;
}

#preListPC tbody td{
    color : orange;
}

.pmpcNum{
    width : 10%;
    float : left;
}

.pmpcTitle{
    width : 70%;
    float : left;
}

.pmpcDate{
    width : 20%;
    float : left;
}

.pmpcFoot{
    width : 100%;
    height : 10%;
    float : left;
    padding : 1% 1%;
}

.pageBtns{
    width:100%;
    display: flex;
    justify-content: center;
}

.pmpc_header{
    width:100%;
    height: 40px;
    float : left;
    border-top : 2px solid #2d99a2;
    border-bottom: 2px solid #999999;
    line-height: 2.4em;
}

.pabNum{
    width:10%;
    float: left;
    font-size: 1.2em;
    text-align:center;
    height:100%;
}
.pabTitle{
    width:75%;
    float: left;
    font-size: 1.2em;
    text-align:center;
    height:100%;
}
.pabDate{
    width:15%;
    float: left;
    text-align:center;
    font-size: 1.2em;
    height:100%;
}

.pabContent{
    width : 100%;
    height : 600px;
    border-bottom: 2px solid #999999;
    margin-top: -1px;
    margin-bottom: 2%;
    float : left;
}

.pabMovePost{
    width : 100%;
    float : left;
    height : 40px;
}

.pabBefore{
    width : 100%;
    height : 20px;
    border-bottom: 1px solid #999999;
    text-align: left;
}

.pabNext{
    width : 100%;
    height : 20px;
    text-align: left;
    padding-top: 4px;
}

.pabText{
    width : 100%;
    height : 650px;
    line-height: 1.3em;
}

/* meal_board */
.meal_board{
    width : 80%;
    height : 100%;
    float : left;
}

.meal_board .articleHead{
    width : 90%;
    height : 70px;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.meal_board #pageLocation_left{
    padding-top : 20px;
}

.meal_board #pageLocation_right{
    padding-top : 54px
}

.meal_board .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 2%;
    padding-bottom: 20px;
    margin : 0 auto;
}

.meal_board .pabContent{
    width : 100%;
    height: 700px;
    border-bottom: 2px solid #999999;
    margin-top: -1px;
    margin-bottom: 2%;
    float : left;
}
#border1:hover,#border2:hover,#border3:hover,
#border4:hover,#border5:hover{
    background-color: rgb(238,245,248);
}

.dept02>li>a:hover{
    color:cornflowerblue
}

/*****************************************************/

/* MOBILE PAGE CSS */
.mobile_page{
    width : 1024px;
    margin : 0 auto;
    display: none;
}

.mobile_page #header,
.mobile_page #banner
.mobile_page article,
.mobile_page footer{
    width : 100%;
}

/* mobile header css */

.mobile_page #header{
    height : 480px;
    background-image: url('../assets/images/Banner.jpeg');
    background-size: 100%;
}

.mobile_page .mobile_page_logo{
    height : 80px;
    width : 100%;
    background-color: rgba(194,220,221,0.8);
    position: relative;
}

.mobile_page #header h4{
    margin : 0 0;
}

.mobile_head_logo_div{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-right: 10px;
}

.mobile_head_logo_div img{
    float : right;
    padding-top: 10px;
}

.mobile_head_logo_text{
    width : 100px;
    float : left;
    height: 80px;
}
.mobile_head_logo_text #span{
    margin-top: 25px;
    display: inline-block;
}


#mobile_menu_btn{
    float:right;
    height: 80px;
    padding-right: 20px;
    padding-top: 5px;
}

/* mobile article css */

.mobile_index_article{
    height :  800px;
}

/* map */
.mobile_page .mobile_map{
    float : left;
    height : 500px;
    width : 50%;
    background-color: #eee;
}

.mobile_page .mobile_map h1,
.mobile_page .mobile_map h4,
.mobile_page .mobile_map span{
    padding-left: 10%;
}

.mobile_page .mobile_map_photo{
    width : 80%;
    height : 280px;
    margin: 0 auto;
    background-image: url('../assets/images/mobile/mobile_map3.png');
    background-size: 100%;
}

/* consult */

.mobile_page .mobile_consultant{
    float : right;
    height : 250px;
    width : 50%;
    background-color: #C2DCDD;
}

.mobile_consultant h1,
.mobile_consultant p{
    padding-left: 7%;
}

/* post */
.mobile_page .mobile_post{
    height : 250px;
    width : 50%;
    float : right;
    background-color: #7fc9cf;
}

.mobile_post h1,
.mobile_post ul{
    padding-left: 7%;
}

#mobile_post_list{
    list-style-type: none;
}

#mobile_post_list li{
    width : 90%;
    background-color: white;
    margin : 0 0 20px 0;
    padding : 4px 3px;
    font-size: 1.1em;
}

/* mobile_enterin */

.mobile_index_enterin{
    float : left;
    width : 100%;
    height : 300px;
}

.mobile_index_enterin h1{
    text-align: center;
    margin : 15px 0 10px 0 ;
}

.mobile_index_enterin p{
    text-align: center;
}

#mobile_enterin_list{
    width : 90%;
    margin : 0 auto;
    height : 300px;
}

#mobile_enterin_list > ul{
    width : 100%;
    display: inline-block;
    text-align: center;
}

#mobile_enterin_list>ul>li{
    list-style-type: none;
    float: left;
    background-color: white;
    font-size : 1em;
    font-weight: 600;
    margin-right : 20px;
    margin-top : 20px;
    width : 130px;
    height : 180px;
    padding-top:40px;
    color:white;
}
#mobile_enterin_list>ul>li:nth-child(1){
    margin-left: 20px;
}

.mobile_index_gallery{
    display: none;
}

.mobile_index_insurance{
    display: none;
}

.index_icon{display: none;}

/* mobile footer css */

.mobile_page footer{
    height : 120px;
    background-color: #C2DCDD;
}

.mobile_footer_logo{
    float : left;
    width : 20%;
    height : 120px;
}

.mobile_footer_logo img{
    float : right;
    width : 40%;
    height : 80px;
    margin-top: 10px;
}

.mobile_footer_rule{
    width : 30%;
    float : left;
    height : 120px;
    padding-left: 5%;
}

.mobile_footer_rule h4{
    margin : 10px 0 ;
}

.mobile_footer_information{
    float : left;
    height: 120px;
    width : 41%;
    padding-left: 3%;
}
.mobile_footer_information img{
    margin-top : 8px;
}

.mobile_footer_information h2{
    margin : 15px 0 5px 0;

    display: inline-block;
}

.mobile_footer_information h4{
    margin : 10px 0 0 0;
}

.mobile_footer_information h5{
    margin : 5px 0 0 0;
}

.mobile_footer_trashplace{
    width : 100%;
    height : 300px;
    float : left;
    border-top: 1px solid #999;
    background-color: #C2DCDD;
}

/* mobile menu css */
#mobile_menu{
    display:none;
    width:40%;
    float: right;
    left:60.1%;
    background-color:white;
    top:79.4px;
    position: absolute;
}

#mobile_menu>ul>li{
    line-height: 80px;
    font-size: 1.6em;
    text-align: left;
    border-bottom:1px solid #2d99a2;
    border-left:1px solid #2d99a2;
    border-right:1px solid #2d99a2;
    cursor: pointer;
    letter-spacing: 2px;
}

#mobile_menu>ul>li>div>a{
    padding-left: 20px;
    letter-spacing: 2px;
    display: inline-block;
    width : 100%;
}

#close_btn{
    line-height: normal;
    padding-right: 30px;
    padding-top: 5px;
    float: right;
    width:80px;
    text-align: center;
    cursor: pointer;
}

.click_menu{
    display: none;
    background-color: #eee;
}

.click_menu>li{
    border-top:1px solid #999999;
}

.click_menu>li>a{
    padding-left: 20px;
}


/* mobile sub page */

/* sub_header*/
.mobile_page #sub_header{
    height: 280px;
    margin : 0 auto;
}

.mobile_page #sub_header h4{
    margin : 0 0;
}

.mobile_explain_header h2{
    margin : 50px 0;
}

#sub_header .mobile_banner{
    height : 200px;
    width : 100%;
    margin: 0 auto;
    background-image: url('../assets/images/mobile/mobile_banner.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* sub_article */

.mobile_sub_article{
    width : 100%;
    height: 100%;
}

.sub_article_head{
    width : 100%;
    height : 170px;
    border-top: 1px solid #ddd;
    
    text-align: center;
}

.sub_article_head h2{
    font-size: 1.8em;
}

.sub_article_head p{
    margin-bottom: 20px;
}

#mobile_headList li{ /* sub_article_head list */
    display: inline-block;
    text-align: center;
    padding : 10px 5px;
    margin-right : 20px;
    font-size: 1.2em;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    letter-spacing: 1px;
}

.sub_article_body{
    width : 100%;
    height : 630px;
}

.sub_article_body table{
    text-align: center;
    width : 100%;
}

.sub_article_body table thead th{
    padding : 2% 1%;
    border-bottom: 2px solid #7fc9cf;
}

.sub_article_body table th:nth-child(1){
    width : 20%;
}

.sub_article_body table th:nth-child(2){
    width : 60%;
}

.sub_article_body table th:nth-child(3){
    width : 20%;
}

.sub_article_body table tbody tr{
    border-bottom: 1px solid #999;
}

.sub_article_body table tbody td{
    padding : 1% 0;
    font-size: 1.2em;
}


/* mobile common used list css*/
#mobile_articleList{ /* used in article_body*/
    list-style-type: disc;
    padding-left : 2%;
    z-index: 11;
    overflow-y : auto;
    height: 100%;
}

#mobile_articleList>li{
    margin-bottom: 4%;
    color : #2d99a2;
}

#mobile_articleList h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#mobile_articleList span{
    font-size: 1.1em;
    line-height: 1.8em;
    color : black;
}

#mobile_articleList li>ul>li h4{
    padding-top : 2%;
}

#mobile_articleList p{
    line-height: 1.8em;
    color: black;
}

#tc2 th:nth-child(1){
    width : 15%;
}

#tc2 th:nth-child(2){
    width : 40%;
}

#mobile_articleList ol{
    list-style-type: decimal;
    font-size: 1.2em;
}

#mobile_articleList ol li{
    color : black;
    margin-bottom: 20px;
}

/* mobile_facility */
.mobile_facility_photozone{
    width : 90%;
    height : 100%;
    margin : 0 auto;
}

.mobile_facility_ph{
    float : left;
    width : 45%;
    margin : 2%;
    height : 25%;
}

.mobile_facility_ph img{
    width : 100%;
    height : 100%;
}

/* mobile_mapin */

.mobile_main_map{
    width : 70%;
    height : 400px;
    margin : 0 auto;
    border : 1px solid;
    margin-top: 20px;
    margin-bottom : 20px;
}


/* mobile_pmpc part board page css */

.mobile_pmpc_header{
    width:100%;
    height: 40px;
    float : left;
    border-top : 2px solid #2d99a2;
    border-bottom: 2px solid #999999;
    line-height: 2.4em;
}

.mobile_pabNum{
    width:10%;
    float: left;
    font-size: 1.2em;
    text-align:center;
    height:100%;
}

.mobile_pabTitle{
    width:75%;
    float: left;
    font-size: 1.2em;
    text-align:center;
    height:100%;
}
.mobile_pabDate{
    width:15%;
    float: left;
    text-align:center;
    font-size: 1.2em;
    height:100%;
}

.mobile_pabContent{
    width : 100%;
    height: 500px;
    border-bottom: 2px solid #999999;
    margin-top: -1px;
    margin-bottom: 2%;
    float : left;
}

.mobile_pabMovePost{
    width : 100%;
    float : left;
    height : 40px;
    margin-top: 20px;
}

.mobile_pabBefore{
    width : 100%;
    height : 20px;
    border-bottom: 1px solid #999999;
    text-align: left;
}

.mobile_pabNext{
    width : 100%;
    height : 20px;
    text-align: left;
    padding-top: 4px;
}

.mobile_pabText{
    width : 100%;
    height : 500px;
    line-height: 1.3em;
}

.mobile_download{  /*plani , meal_board */
    float :right;
    width : 100%;
    height : 40px;
    margin-top : 6px;
    color : #999999;
    font-weight: lighter;
    font-size: 1em;
}

.mobile_download a{
    float : right;
}

#plani_img_div{
    width : 80%; 
    height : 1180px; 
    margin : 0 auto;
}

/* pmpc mobile tables */

.mobileTb thead th{
    font-size: 1.2em;
    border-bottom: 2px solid #2d99a2;
}

.mobileTb tbody td{
    padding: 1.5%;
}

.mobileTb tbody td:nth-child(1){
    width : 20%;
}
.mobileTb tbody td:nth-child(2){
    width : 60%;
}
.mobileTb tbody td:nth-child(3){
    width : 20%;
}

#preListMobile td{
    color: orange;
}
#tp2 thead th{
    font-size: 1.2em;
    border-bottom: 2px solid #2d99a2;
}

/* mobile article size fix css */
.mFacility_article,
.mEnterin_article,
.mDaycarein_article,
.mInsurance_article,
.mPlani_article,
.mPhoto_board_article,
.mobile_sub_article{
    overflow-y: auto;
}
#day_th1{
    width:120px;
}

#day_th2{
    width:120px;
}

#day_th3{
    width:120px;
}
#th_width{
    width:auto;
}
@media (max-width : 768px){
    #th_width{
        width: 15%;
    }
    #day_th1{
        width: 15%;
    }
    #day_th2{
        width: 15%;
    }
    #day_th3{
        width: 25%;
    }
}