@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* mediaquery */
@media(max-width : 1440px){
   
}
/* Commonly used*/
*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
}

footer a:hover{
    text-decoration: underline;
}
a:link{
    text-decoration: none;
    color : black;
}

a:visited{
    text-decoration: none;
    color : black;
}

/* HEADER */
header{
    width : 90vw;
    height : 50vh;
    margin : 0 auto;
}

header h3,
header h5{
    margin : -10px 0 0 0;
    display: block;
    width : 150px;
    height : 1.5em;
}

.wrapper{
    width : 100%;
    height : 100%;
    margin: 0 auto;
    background-image: url('../assets/images/1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    width : 100%;
    height : 8vh;
    margin : 0 auto;
    background-color: rgba(255,255,255,0.8);
}

.topMenu{
    padding : 0;
    margin : 0 auto;
    z-index: 1;
    height : 100%;
    width : 90%;
    line-height: 8vh;
}

.dept01{
    text-align: center;
    height : 100%;
    display: flex;
    justify-content: center;
}

.dept01>li{
    list-style-type: none;
    float : left;
    height : 100%;
}

.dept01>li>span{
    line-height: 8vh;
    display: block;
}

#logo{
    width : 6vh;
    height : 6vh;
    float : left;
    margin-top: 1vh;
}

.topMenu ul li ul{
    display: none;
    padding : 0;
    /*margin : 8px;*/
    position :absolute;
    line-height: 40px;
    border-bottom: 2px solid #A0D56E;
    text-align: left;
    font-size:16px;
    width:100%;
}

.topMenu>ul>li>ul{
    z-index: 11;
}

.topMenu ul li ul li{
    line-height:40px;
    text-align: center;
}

#border1{
    border-left: 2px solid #A0D56E;
    background-color:white;
    width:124px;
    padding-bottom : 80px;
}

#border2{
    background-color : white;
    width:225.63px;
}

#border3{
    padding-bottom: 160px;
    background-color : white;
    width:124px;
}

#border4{
    padding-bottom: 200px;
    background-color : white;
    width:193.63px;
}

#border5{
    padding-bottom: 200px;
    background-color : white;
    width:151.25px;
    border-right: 2px solid #A0D56E;
}

/* Header END */

.container{
    width : 90vw;
    height : 1500px;
    margin : 0 auto;
}

.indexArticle{
    width : 100%;
    height : 100%;
    float : left;
}

.content{
    width : 100%;
    height : 100%;
    float : left;
}

.photo{
    width : 50%;
    height : 500px;
    float  : left;
    background-color: #c7dbdd;
}

.highlightzone{ /* used in Daycare.html > classes*/
    width : 100%;
    height : 20%;
}

.plusBtn{
    float : right;
    width : 30px;
    height : 30px;
    background-color: #535353;
    color : white;
    font-size : 1.3em;
    border : none;
}

.photo h3,
.photo h4{
    text-align: left;
}

.photo .highlightzone{
    width : 60%;
    height : 20%;
    margin : 0 auto;
}

.photozone{
    width : 100%;
    height : 60%;
    float : left;
}

.miniPhoto{
    margin : 0 auto;
    width : 60%;
    height : 100%;
    background-color: white;
}

.btnzone{
    float : left;
    width : 100%;
    height : 20%;
    margin : 0 auto;
}

.miniBtn{
    margin : 0 auto;
    width : 60%;
    margin-top : 20px;
}

#photo_btn1{
    float : left;
    padding : 10px 8px;
}

#photo_btn2{
    float : right;
    padding : 10px 8px;
}

#photo_btn1,
#photo_btn2{
    width : 40%;
}

.post{
    width : 50%;
    height : 500px;
    float : left;
    background-color: #DBE7E5;
}

.post h3,
.post h4{
    text-align: left;
}

.post .highlightzone{
    width : 70%;
    height : 20%;
    margin-left: 11%;    
}

.listzone{
    width : 100%;
    height : 80%;
    float : left;
}

.postlist{
    width : 70%;
    height : 100%;
    margin-left: 11%;    
}

.postlist>ul>li{
    width : 100%;
    padding : 13px 10px;
    margin-bottom: 25px;
    background-color: white;
    font-size : 0.8em;
    font-weight: 600;
}

.indexEnterin{
    width : 100%;
    height : 400px;
    float : left;
    margin : 0 auto;
    border-left: 1px solid #c7dbdd;
    border-right: 1px solid #c7dbdd;
}

.indexEnterin h1, 
.indexEnterin h5{
    text-align: center;
}

.indexEnterList{
    width : 100%;
    height : 80%;
    float: left;
    text-align: center;
}

.indexEnterList>ul{
    display: inline-block;
    text-align: center;
}

.indexEnterList>ul>li{
    list-style-type: none;
    float: left;
    background-color: white;
    font-size : 1em;
    font-weight: 600;
    margin-right : 20px;
    margin-top : 40px;
    width : 150px;
    height : 180px;
    padding-top:40px;
    color : white;
}

.indexEnterList li span{
    font-weight: 600;
    font-size: 2.5em;
}

.miniMap{
    width : 100%;
    height : 600px;
    float : left;
    background-color:#535353
}

.miniMap .highlightzone h1{
    padding-top : 3%;
    text-align: center;
    color : white;
}
.spanzone div{
    margin-bottom: 50px;
}
.spanzone h1{
    margin-bottom: 50px;
}
.spanzone h1, 
.spanzone h4{
    margin-left: 30px;
    text-align: left;
    color : white;
}

.mapdiv{
    width : 55%;
    height : 70%;
    float : left;
}

.map{
    width : 80%;
    height : 100%;
    float : right;
    background-color: white;
}

.spanzone{
    height : 70%;
    width : 45%;
    float : left;
}

/* all page footer */
footer{
    width : 90vw;
    height : 250px;
    margin : 0 auto;
    background-color: #c7dbdd;
}

.empty{
    height: 20%;
    width:100%;
    float : left;
}

.footerContent{
    width : 100%;
    height : 80%;
    float : left;
}

.footer_logo{
    width : 30%;
    height : 100%;
    float : left;
}

.footer_information1{
    width : 25%;
    height : 100%;
    float : left;
}
.footer_information1 a:visited{
    text-decoration: none;
}

.footer_information1 h1{
    font-size: 1.3em;
}

.footer_information1 h1,
.footer_information1 h2,
.footer_information1 h5{
    color :black;
    text-align: left;
    margin : 0 0 0 25%;
    line-height: 1.5em;
}

.footer_information2{
    width:30%;
    height : 100%;
    float : left;
    margin-left : 5%;
}

.footer_information2 p{
    margin : 5px 0 5px 0;
    color : black;
}

/* modal last of css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height : 70%;
  }

  .modal_head{
    width : 100%;
    height : 15%;
    background-color: #c7dbdd;
  }

  #modal3 .modal_head{
      padding-left: 6%;
  }

  #modal1 .modal_head{
      padding-left : 6%;
  }

  #imgCloseBtn{
    width : 10%;
    height : 100%;
    float : right;
    padding : 2% 6% 0 0;
    }
    
    #question_closeBtn{
        float : right;
        width : 10%;
        height : 100%;
        padding : 2% 6% 0 0;
    }

  .modal_head_span{
      float : left;
      width : 90%;
      height : 100%;
  }

  .modal_title{
      width : 100%;
      float : left;
      height : 50%;
  }


  .modal_name{
      width : 20%;
      float : left;
      height : 50%;
  }

  .modal_pwd{
    width : 35%;
    float : left;
    height : 50%;
  }

  .modal_num{
      width : 35%;
      float : left;
      height : 50%;
  }

  #modal2 .modal_head_span h2,
  #modal2 .modal_head_span h5{
      text-align: left;
      margin : 2% 0 0 6%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_body{
      width : 100%;
      height : 70%;
      margin : 0 auto;
  }

  .modal_body_head{
      width : 90%;
      height : 10%;
      margin : 0 auto;
  }

  .mbody_spanzone{
      display: inline-block;
      width : 100%;
      height : 100%;
  }

  .modal_body_head h2,
  .modal_body_head h5{
      margin : 1% 0 0 0;
  }
  
  .modal_body_article{  
      width : 100%;
      height : 90%;
      float : left;
  }

  .modal-zone{
      width : 90%;
      height : 100%;
      margin : 0 auto;
      float:left;
      margin-left:5%;
  }

  .modalspan{
      display: inline-block;
  }
    
  #prevBtn,
  #nextBtn{
    float:left;
    width : 50%;
    height : 100%;
    font-size: 1.3em;
  }

  .modal_footer{
    width : 100%;
    height : 15%;
  }

  .mfooter_spanzone{
    width : 90%;
    height : 15%;
    margin : 0 auto;
  }

  #moreBtn{
      width : 20%;
      height : 50px;
      float : right;
      font-size : 1em;
      line-height: 1em;
      margin-top : 10px;
      background-color: #c7dbdd;
      border : none;
  }

  #beforeBtn{ /* consulting, question.html */
    width : 20%;
    height : 50px;
    float : right;
    font-size : 1em;
    line-height: 1em;
    background-color: #c7dbdd;
    border : none;
}

  #modal1 .modalBtns{ /* index photo */
    position: relative;
    left : 86.1%;
    z-index: 1;
    width : 14%;
    height : 10%;
  }

  #modal1 .modalspan{
      margin-top: 1%;
  }
  #modal2 .modal-zone{
      border : 1px solid #c7dbdd;
  }
  
  #modal2 .modalspan{
    margin : 1% 1%;
    font-size: 1em;
  }

  #modal3 .modalspan{
      margin-top : 2%;
      font-size: 1em;
  }

  #modal2 .modalBtns{
    position: relative;
    left : 86%;
    top : 81%;
    z-index: 1;
    width : 14%;
    height : 10%;
  }

#mod_cont_question{
    resize: none;
    width:100%;
}

#modallogo{
    width:12%;
    height:12%;
    float : left;
    margin-bottom:1%;
    margin-right:1%;
}

#mod_cont_question{
    width : 100%;
    height : 45vh;
    font-size : 1em;
}

.modal_question_article{
    width : 90%;
    height : 90%;
    margin : 0 auto;
    margin-top : 2%;
}

.answer-textarea{
    width : 100%;
    height : 100%;
    border : 1px solid #7fc9cf;
}

#submitBut{
    width : 50px;
    padding : 2% 2%;
    font-size: 1em;
}


  /******************** Sub Pages Css ********************/

  /*Commonly used Header / Container / aside / articleList */
#subHeader{
    width : 90vw;
    height : 35vh;
    margin : 0 auto;
}

.subContainer{
      width : 1200px;
      height : 1500px;
      margin : 0 auto;
}

aside{ /*Commonly used aside (nav aside)*/
    float : left;
    width : 19%;
    height : 500px;
    text-align: center;
}

aside li{
    padding : 20px;
    font-size: 1em;
    border : 1px solid #bbb;
    letter-spacing: 0.1em;
}

.asideDiv li{
    margin-top:-1px;
}

.asideDiv li:nth-child(1){
    margin-top : 0px;
}

#endAside{
    text-align: left;
    background-color: #C2DCDD;
    font-weight: 600;
}

#endAside h5{
    margin : 0 0 10px 0;
    font-size: 1.4em;
    font-weight: lighter;
}

#endAside .bigspan{
    display: inline-block;
    padding : 1vw 2vw;
    font-weight: 500;
}

#endAside .smallspan{
    font-size:1.5em;
    font-weight: 500;
    color : black;
}

#location{
    background-color: #bbb;
}

#location a{
    color : white;
}

#articleList{
    list-style-type: disc;
    padding-left : 2%;
}

#articleList>li{
    margin-bottom: 8%;
    color : #2d99a2;
}

#articleList h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#articleList span{
    font-size: 1.2em;
    color : black;
}

#articleList li>ul>li h4{
    padding-top : 5%;
}

#pageLocation_left{
    float : left;
    padding-top: 5%;
    font-size: 1.2em;
}

#pageLocation_right{
    float : right;
    padding-top: 9%;
    color : #aaa;
    font-size: 0.9em;
}

/* centerintro.html */
.centerintro{
    width : 80%;
    height : 100%;
    float : left;
}

.centerintro .articleHead{
    width : 90%;
    height : 8%;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.centerintro #pageLocation_left{
    padding-top : 3%;
}

.centerintro #pageLocation_right{
    padding-top : 7%;
}

.centerintro .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 7%;
    margin : 0 auto;
}
#intro_logo{
    width : 50%;
    height : 50%;
    float : right;
}

.centerintro #articleList li ul li{
    margin-bottom : 14px;
}

/* mapin.html */
.mapin{
    width : 80%;
    height : 100%;
    float : left;
}

.mapin .articleHead{
    width : 90%;
    height : 8%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.mapin #pageLocation_left{
    padding-top : 2%;
}
.mapin #pageLocation_right{
    padding-top : 6%;
}

.mapin .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.main_map{
    width : 90%;
    height : 60%;
    border : 1px solid black;
    margin : 0 auto;
    margin-bottom : 3%;
}

.mapin #articleList>li {
    margin-bottom : 4%;
}

/* facility */
.facility{
    width : 80%;
    height : 100%;
    float : left;
}

.facility .articleHead{
    width : 90%;
    height : 8%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.facility .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.facility #pageLocation_left{
    padding-top : 3%;
}

.facility #pageLocation_right{
    padding-top : 7%;
}

.facility ul li{
    width : 17vw;
    height : 20vh;
    float : left;
    margin-right : 3vw;
    margin-left : 2vw;
    border : 1px solid black;
    list-style: none;
}

/* rule.html */
.rule{
    width : 80%;
    height : 100%;
    float : left;
}

.rule .articleHead{
    width : 90%;
    height : 8%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.rule .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.rule #pageLocation_left{
    padding-top : 3%;
}

.rule #pageLocation_right{
    padding-top : 7%;
}

/* enterin.html */
.enterin{
    width : 80%;
    height : 100%;
    float : left;
}
.enterin .articleHead{
    width : 90%;
    height : 8%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.enterin .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

/* ensurance.html */
.ensurance{
    width : 80%;
    height : 100%;
    float : left;
}

.ensurance .articleHead{
    width : 90%;
    height : 5%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.ensurance .articleBody{
    width : 90%;
    height : 86%;
    padding-top:5%;
    margin : 0 auto;
}

.ensurance #pageLocation_left{
    padding-top: 3%;
}

.ensurance #pageLocation_right{
    padding-top: 7%;
}

#ensurancelist{
    list-style-type: disc;
    padding-left : 2%;
}

#ensurancelist>li{
    margin-bottom: 8%;
    color : #2d99a2;
}

#ensurancelist h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#ensurancelist span{
    font-size: 1.2em;
    color : black;
}

#ensurancelist li>ul>li h4{
    padding-top : 5%;
}


/* consulting.html */
.consulting{
    width : 80%;
    height : 100%;
    float : left;
}

.consulting .articleHead{
    width : 90%;
    height : 8%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.consulting .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.consulting #pageLocation_left{
    padding-top : 2%;
}

.consulting #pageLocation_right{
    padding-top : 6%;
}

.question_searchPlace{
    float : right;
    width : 45%;
}

.for_float_right{
    float : right;
}

.questionHead{
    width : 100%;
    height : 80%;
    float : left;
    margin : 3% 0 5% 0%;
    padding : 1% 1%;
}

.questionHead div{
    text-align: center;
}

.questionTb{
    width : 100%;
    font-size: 1em;
}

.questionTb th{
    border-top : 1px solid black;
    border-bottom: 1px solid #7fc9cf;
    padding : 1% 1%;
}

.askNum{
    width : 10%;
    float : left;
}

.askTitle{
    width : 80%;
    float : left;
}

.askDate{
    width : 10%;
    float : left;
}

.questionTb tbody{
    width : 100%;
    height : 100%;
}
.questionTb td{
    padding : 1% 0;
    float : left;
    text-align: center;
    border-bottom: 1px solid #Bbb;
}

.questionTb td:nth-child(odd){
    width : 10%;
}

.questionTb td:nth-child(even){
    width : 80%;
}

.questionFoot{
    width : 100%;
    height : 10%;
    float : left;
    padding : 1% 1%;
}

.pageBtns{
    width : 70%;
    float : left;
}
.pageBtns #nextBtn{
    margin-right: 10vw;
}

.pageBtns #prevBtn,
.pageBtns #nextBtn,
.pageBtns #pageButton{
    float:right;
    width : 5%;
    height : 5%;
    font-size : 1em;
    background-color: #ffffff;
    margin-top : 2%
}

.current{
    color : #2d99a2;
    font-weight: bold;
}

.queBtns{
    width : 30%;
    float : right;
}

#wri_question{
    float : right;
    padding : 5% 5%;
    font-weight: 500;
    font-size: 1.2em;
    background-color: #2d99a2;
    color : white;
    border : none;
}

/* 테이블 */

.tb_2{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2vw;
}

.tb_2 th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bbb;
}

.tb_2 td{
    padding : 2%;
}

.tb_2 tr:nth-child(even){
    background-color: #eee;
}

.tb_2 tr:nth-child(odd){
    background-color : #bbb;
}

#tb_2th{
    border-right : 1.5px solid white;
}


.tb_3{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom:1px solid black;
    margin-bottom: 2vw;
}

.tb_3 th{
    padding-top : 2%;
    padding-bottom: 2%;
}

.tb_3 td{
    padding : 2%;
}

.tb_3 tr th,
.tb_3 tr td{
    border-right: 1px solid white;
}

.tb_3 tr:nth-child(even){
    background-color: #eee;
}

.tb_3 tr:nth-child(odd){
    background-color : #bbb;
}

/* 포토.html*/

.photo_list{
    clear:both;
    line-height: 20px;
}

.photo_list table{
    table-layout: fixed;
    width: 100%;
    clear:both;
    border-collapse: collapse;
    border-spacing: 0;
}

.td1>img{
    width:17vw;
    height:11.33vw;
}

#photoTr{
    text-align: center;
}

.photo_content{
    text-align : center;
}

.photo_title{
    color:dodgerblue;
}

.photo_date{
    color:#C2DCDD;
}

/* pmpc */

#search_err{
    background-color: #fefefe;
    margin:5% auto;
    padding:20px;
    border:1px solid #888;
    width:50%;
}

.pArticleSearch{
    height : 30px;
}

.pArticleBody{
    width : 70%;
    height : 600px;
    margin : 0 auto;
}
.pArticleFooter{ /**/
    width : 100%;
    margin : 0 auto;
    float : left;
}
#page_btns{
    float : left;
    margin-right: 20vw;
}

.pmpc_footer{ /*pmpcpage container searchplacer*/
    width : 100%;
    border : 1px solid black;
}

.pmpc_searchPlace{
    float : left;
    margin-left : 22vw;
    margin-bottom : 5px;
}

.searchPlace{
    float : right;
    margin-right: 10%;
}

.pabNum{
    width : 15%;
    float : left;
}

.pabTitle{
    width : 65%;
    float : left;
}

.pabDate{
    width : 20%;
    float : left;
}

.pabNum, .pabTitle, .pabDate{
    border-top : 2px solid rgb(65, 61, 56);
    border-bottom : 2px solid #C2DCDD;
    text-align: center;
    padding : 10px 0;
}

.pabContent{
    width : 100%;
    height : 600px;
    float : left;;
}

/*pmpc table*/
.tb_1{
    width : 80%;
    margin-left : 10%;
    margin-top : 0.83em;
    float : left;
}

.tb_1 th{
    padding : 1%;
    text-align: center;
    background-color: bisque;
    border-top: 4px solid #C2DCDD;
    border-bottom: 1px solid black;
}

.th_num{
    border-right: 1px solid black;
    width : 10%;
}

.th_title{
    border-right: 1px solid black;
    width : 70%;
}

.th_regist{
    width : 20%;
}

.tb_1 td{
    text-align: center;
    padding : 1%;
    border-bottom:1px solid black;
    font-size : 0.8em;
}
/* 포토보드 */
.main_photo_box{
    padding:20px;
    margin:0;
    border:1px solid #ccc;
}

.main_photo{
    float:left;
}

.main_photo img{
    display:block;
    max-width:300px;
    margin:0 auto;
}

.main_photo_box h2{
    font-size:22px;
    padding:10px 0 20px 20px;
}

.main_photo_box h3 span{
    padding-left:45px;
}

.main_photo_box p{
    font-size:17px;
}

.main_photo_box p strong{
    padding-left:50px;
    line-height: 30px;
}

.main_photo_box p strong:after{
    display:inline-block;
    padding-right:10px;
    padding-left:10px;
    content:":";
}

.main_photo_box:after{
    display:block;
    clear:both;
    content:"";
}

.photo_content_box{
    padding:10px 10px 10px 20px;
    border:1px solid #ccc;
    margin-bottom:30px;
}

.photo_content_text{
    display:block;
    line-height:20px;
    margin:20px 0;
    padding-left:20px;
}

/*programin.html*/
#spanbox{
    padding : 2% 2% 0 2%;
    line-height : 1.4em;
}
.tb_4{
    width : 90%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
}

.tb_4 th,
.tb_4 td{
    border-right : 1px solid white;
}

.tb_4 th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bbb;
}

.tb_4 td{
    padding : 2%;
}

.tb_4 th:nth-child(2),
.tb_4 th:nth-child(3),
.tb_4 th:nth-child(4),
.tb_4 th:nth-child(5),
.tb_4 th:nth-child(6){
    width : 13%;
}

.tb_4 tbody>tr:nth-child(odd){
    background-color: #eee;
}

.tb_4 tbody>tr:nth-child(even){
    background-color: #bbb;
}

.tb_4 tfoot{
    background-color: #bbb;
}
.tb_5{
    border : 1px solid black;
    width : 90%;
    margin : 0 auto;
    text-align: center;
}
.tb_5 th,
.tb_5 td{
    border : 1px solid black;
}

.tb_5 th:nth-child(1),
.tb_5 th:nth-child(2){
    width : 15%;
}