@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* mediaquery */
@media(max-width : 1440px){
   
}
/* Commonly used*/
*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
}

footer a:hover{
    text-decoration: underline;
}
a:link{
    text-decoration: none;
    color : black;
}

a:visited{
    text-decoration: none;
    color : black;
}

/* HEADER */
header{
    width : 90vw;
    height : 50vh;
    margin : 0 auto;
}

header h3,
header h5{
    margin : -10px 0 0 0;
    display: block;
    width : 150px;
    height : 1.5em;
}

.wrapper{
    width : 100%;
    height : 100%;
    margin: 0 auto;
    background-image: url('../assets/images/1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    width : 100%;
    height : 8vh;
    margin : 0 auto;
    background-color: rgba(255,255,255,0.8);
}

.topMenu{
    padding : 0;
    margin : 0 auto;
    z-index: 1;
    height : 100%;
    width : 70%;
    line-height: 8vh;
}

.dept01{
    text-align: center;
    height : 100%;
    display: flex;
    justify-content: center;
}

.dept01>li{
    list-style-type: none;
    float : left;
    height : 100%;
}

.dept01>li>span{
    line-height: 8vh;
    display: block;
}

#logo{
    width : 50px;
    height : 50px;
    float : left;
    margin-top: 10px;
}

.topMenu ul li ul{
    display: none;
    padding : 0;
    /*margin : 8px;*/
    position :absolute;
    line-height: 40px;
    border-bottom: 2px solid #A0D56E;
    text-align: left;
    font-size:16px;
    width:100%;
}

.topMenu>ul>li>ul{
    z-index: 11;
}

.topMenu ul li ul li{
    line-height:40px;
    text-align: center;
}

#border1{
    border-left: 2px solid #A0D56E;
    background-color:white;
    width:124px;
    padding-bottom : 80px;
}

#border2{
    background-color : white;
    width:225.63px;
}

#border3{
    padding-bottom: 160px;
    background-color : white;
    width:124px;
}

#border4{
    padding-bottom: 200px;
    background-color : white;
    width:193.63px;
}

#border5{
    padding-bottom: 200px;
    background-color : white;
    width:151.25px;
    border-right: 2px solid #A0D56E;
}

/* Header END */

.container{
    width : 90vw;
    height : 1500px;
    margin : 0 auto;
}

.indexArticle{
    width : 100%;
    height : 100%;
    float : left;
}

.content{
    width : 100%;
    height : 100%;
    float : left;
}

.photo{
    width : 50%;
    height : 500px;
    float  : left;
    background-color: #c7dbdd;
}

.highlightzone{ /* used in Daycare.html > classes*/
    width : 100%;
    height : 20%;
}

.plusBtn{
    float : right;
    width : 30px;
    height : 30px;
    background-color: #535353;
    color : white;
    font-size : 1.3em;
    border : none;
}

.photo h3,
.photo h4{
    text-align: left;
}

.photo .highlightzone{
    width : 60%;
    height : 20%;
    margin : 0 auto;
}

.photozone{
    width : 100%;
    height : 60%;
    float : left;
}

.miniPhoto{
    margin : 0 auto;
    width : 60%;
    height : 100%;
    background-color: white;
}

.btnzone{
    float : left;
    width : 100%;
    height : 20%;
    margin : 0 auto;
}

.miniBtn{
    margin : 0 auto;
    width : 60%;
    margin-top : 20px;
}

#photo_btn1{
    float : left;
    padding : 10px 8px;
}

#photo_btn2{
    float : right;
    padding : 10px 8px;
}

#photo_btn1,
#photo_btn2{
    width : 40%;
}

.post{
    width : 50%;
    height : 500px;
    float : left;
    background-color: #DBE7E5;
}

.post h3,
.post h4{
    text-align: left;
}

.post .highlightzone{
    width : 70%;
    height : 20%;
    margin-left: 11%;    
}

.listzone{
    width : 100%;
    height : 80%;
    float : left;
}

.postlist{
    width : 70%;
    height : 100%;
    margin-left: 11%;    
}

.postlist>ul>li{
    width : 100%;
    padding : 13px 10px;
    margin-bottom: 25px;
    background-color: white;
    font-size : 0.8em;
    font-weight: 600;
}

.indexEnterin{
    width : 100%;
    height : 400px;
    float : left;
    margin : 0 auto;
    border-left: 1px solid #c7dbdd;
    border-right: 1px solid #c7dbdd;
}

.indexEnterin h1, 
.indexEnterin h5{
    text-align: center;
}

.indexEnterList{
    width : 100%;
    height : 80%;
    float: left;
    text-align: center;
}

.indexEnterList>ul{
    display: inline-block;
    text-align: center;
}

.indexEnterList>ul>li{
    list-style-type: none;
    float: left;
    background-color: white;
    font-size : 1em;
    font-weight: 600;
    margin-right : 20px;
    margin-top : 40px;
    width : 150px;
    height : 180px;
    padding-top:40px;
    color : white;
}

.indexEnterList li span{
    font-weight: 600;
    font-size: 2.5em;
}

.miniMap{
    width : 100%;
    height : 600px;
    float : left;
    background-color:#535353
}

.miniMap h1{
    text-align: center;
    color : white;
}
.spanzone div{
    margin-bottom: 50px;
}
.spanzone h1{
    margin-bottom: 50px;
}
.spanzone h1, 
.spanzone h4{
    margin-left: 30px;
    text-align: left;
    color : white;
}

.mapdiv{
    width : 55%;
    height : 70%;
    float : left;
}

.map{
    width : 80%;
    height : 100%;
    float : right;
    background-color: white;
}

.spanzone{
    height : 70%;
    width : 45%;
    float : left;
}

/* index page footer */
footer{
    width : 90vw;
    height : 250px;
    margin : 0 auto;
    background-color: #c7dbdd;
}

.empty{
    height: 20%;
    width:100%;
    float : left;
}

.footerContent{
    width : 100%;
    height : 80%;
    float : left;
}

.footer_logo{
    width : 30%;
    height : 100%;
    float : left;
}

.footer_information1{
    width : 25%;
    height : 100%;
    float : left;
}
.footer_information1 a:visited{
    text-decoration: none;
}

.footer_information1 h1{
    font-size: 1.3em;
}

.footer_information1 h1,
.footer_information1 h2,
.footer_information1 h5{
    color :black;
    text-align: left;
    margin : 0 0 0 25%;
    line-height: 1.5em;
}

.footer_information2{
    width:30%;
    height : 100%;
    float : left;
    margin-left : 5%;
}

.footer_information2 p{
    margin : 5px 0 5px 0;
    color : black;
}

/* modal last of css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height : 70%;
  }

  .modal_head{
    width : 100%;
    height : 15%;
    background-color: #c7dbdd;
  }

  .modal_head_span{
      float : left;
  }

  .modal_head_span h2,
  .modal_head_span h5{
      text-align: left;
      margin : 0 0 0 0;
      margin-left : 20px;
      margin-top : 10px;
  }

  #imgCloseBtn{
      width : 20px;
      height : 20px;
      float : right;
      margin : 15px 15px;
  }

  .modal_body{
      width : 100%;
      height : 70%;
      margin : 0 auto;
  }

  .modal_body_head{
      width : 90%;
      height : 10%;
      margin : 0 auto;
  }

  .mbody_spanzone{
      display: inline-block;
      width : 100%;
      height : 100%;
  }

  .modal_body_head h2,
  .modal_body_head h5{
      margin : 10px 0 0 0 ;
  }
  
  .modal_body_article{  
      width : 100%;
      height : 90%;
      float : left;
  }

  .modal-zone{
      width : 90%;
      height : 100%;
      margin : 0 auto;
      position: relative;
      float:left;
      margin-left:5%;
  }

  .modalBtns{
      position: absolute;
      left : 86%;
      bottom:0px;
      z-index: 1;
      width : 14%;
      height : 10%;
  }
    
  #prevBtn,
  #nextBtn{
    float:left;
    width : 50%;
    height : 100%;
    font-size: 1.3em;
  }

  .modal_footer{
    width : 100%;
    height : 15%;
  }

  .mfooter_spanzone{
    width : 90%;
    height : 15%;
    margin : 0 auto;
  }

  #modalspan{
    display: inline-block;
    margin-top : 10px;
  }

  #moreBtn{
      width : 20%;
      height : 50px;
      float : right;
      font-size : 1em;
      line-height: 1em;
      margin-top : 10px;
      background-color: #c7dbdd;
      border : none;
  }

  #modal2 .modal-zone,
  #modal4 .modal-zone{
      border : 1px solid #c7dbdd;
  }
  
  #modal2 #modalspan{
    margin-left : 5px;
  }

  #modal2 .modalBtns,
  #modal4 .modalBtns{
    position: relative;
    left : 86.1%;
    top : 82.4%;
    z-index: 1;
    width : 14%;
    height : 10%;
  }

  /******************** Sub Pages Css ********************/

  /*Commonly used Header / Container / aside */
#subHeader{
    width : 90vw;
    height : 35vh;
    margin : 0 auto;
}

.subContainer{
      width : 1200px;
      height : 1500px;
      margin : 0 auto;
}

aside{ /*Commonly used aside (nav aside)*/
    float : left;
    width : 19%;
    height : 500px;
    text-align: center;
}

aside li{
    padding : 20px;
    font-size: 1em;
    border : 1px solid #bbb;
    letter-spacing: 0.1em;
}

.asideDiv li{
    margin-top:-1px;
}

#endAside{
    text-align: left;
    background-color: #C2DCDD;
    font-weight: lighter;
}

#endAside h5{
    margin : 0 0 10px 0;
    font-size: 1.4em;
    font-weight: lighter;
}

#endAside .bigspan{
    display: inline-block;
    padding : 0.5vw 0.5vw;
    font-weight: 500;
}

#endAside .smallspan{
    font-size:1.5em;
    font-weight: 500;
    color : black;
}

#location{
    background-color: #bbb;
}

#location a{
    color : white;
}

#pageLocation_left{
    float : left;
    padding-top: 5%;
    font-size: 1.2em;
}

#pageLocation_right{
    float : right;
    padding-top: 9%;
    color : #aaa;
    font-size: 0.9em;
}
/* centerintro.html */
.centerintro{
    width : 80%;
    height : 100%;
    float : left;
}

.centerintro .articleHead{
    width : 90%;
    height : 7%;
    margin: 0 auto;
    border-bottom : 2px solid #c7dbdd
}

.centerintro #pageLocation_left{
    padding-top : 2%;
}

.centerintro #pageLocation_right{
    padding-top : 6%;
}

.centerintro .articleBody{
    width : 90%;
    height : 86%;
    padding-top : 7%;
    margin : 0 auto;
}
#intro_logo{
    width : 50%;
    height : 50%;
    float : right;
}

.centerintro #articleList li ul li{
    margin-bottom : 14px;
}

/* mapin.html */
.mapin{
    width : 80%;
    height : 100%;
    float : left;
}

.mapin .articleHead{
    width : 90%;
    height : 7%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.mapin #pageLocation_left{
    padding-top : 1%;
}
.mapin #pageLocation_right{
    padding-top : 5%;
}

.mapin .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

.main_map{
    width : 90%;
    height : 60%;
    border : 1px solid black;
    margin : 0 auto;
    margin-bottom : 3%;
}

.mapin #articleList>li {
    margin-bottom : 4%;
}

/* ensurance.html */
.ensurance{
    width : 80%;
    height : 100%;
    float : left;
}

.ensurance .articleHead{
    width : 90%;
    height : 7%;
    margin : 0 auto;
    border-bottom: 2px solid #c7dbdd;
}

.ensurance .articleBody{
    width : 90%;
    height : 86%;
    padding-top:7%;
    margin : 0 auto;
}

#articleList{
    list-style-type: disc;
    padding-left : 2%;
}

#articleList>li{
    margin-bottom: 8%;
    color : #2d99a2;
}

#articleList h4{
    display: block;
    margin : 0 0 3% 0;
    font-size: 1.4em;
}

#articleList span{
    font-size: 1.2em;
    color : black;
}

#articleList li>ul>li h4{
    padding-top : 5%;
}


/* 테이블 */

.tb_2{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2vw;
}

.tb_2 th{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #bbb;
}

.tb_2 td{
    padding : 2%;
}

.tb_2 tr:nth-child(even){
    background-color: #eee;
}

.tb_2 tr:nth-child(odd){
    background-color : #bbb;
}

#tb_2th{
    border-right : 1.5px solid white;
}


.tb_3{
    width : 80%;
    text-align: center;
    margin : 0 auto;
    border-top : 1px solid black;
    border-bottom:1px solid black;
    margin-bottom: 2vw;
}

.tb_3 th{
    padding-top : 2%;
    padding-bottom: 2%;
}

.tb_3 td{
    padding : 2%;
}

.tb_3 tr th,
.tb_3 tr td{
    border-right: 1px solid white;
}

.tb_3 tr:nth-child(even){
    background-color: #eee;
}

.tb_3 tr:nth-child(odd){
    background-color : #bbb;
}
